.learn {
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.learn__img {
  margin-right: 10px;
  padding: 10px;
  border-radius: 100%;
  line-height: 1;
  background: #fdff15;
  animation: shadow 1.5s infinite linear;
}
.learn__img svg {
  fill: #575757;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 6px 0px #fdff15, 0 0 6px 0px #fdff6a;
  }
  100% {
    box-shadow: 0 0 10px 6px #fdff83, 0 0 4px 30px #fdff8383;
  }
}

.video-block__item {
}
.video-block__item video {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  /* border-bottom: 3px solid #fdff15; */
}

.video-item__img {
  border-radius: 15px;
  box-shadow: 0 20px 50px 0 rgba(253, 255, 21, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.video-item__img:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 50px 0 rgba(253, 255, 21, 0.2);
}
