<div class="card card-body border text-center">
    <h6 class="card-title bottom">Номер заказа <b>{{ n.order_idn }}</b></h6>
    <h6 class="card-title bottom">Категория <b>{{ n.category }}</b></h6>
    <h6 class="card-title bottom">Агент  <b>{{ n.agent_name }}</b></h6>
    <h5 class="card-title bottom font-10" >Отгрузка на <b>{{ n.company_type }} {{ n.company_name }}</b></h5>
    <h5 class="card-title bottom font-10" >ИНН <b>{{ n.company_idn }}</b></h5>
    <h5 class="card-title bottom font-10" >Логин <b>{{ n.login_name }}</b></h5>
    <h5 class="card-title bottom font-10" >Email <b>{{ n.email }}</b></h5>
    <h5 class="card-title bottom font-10" >Телефон <b>{{ n.phone }}</b></h5>
    <h5 class="card-title bottom font-10" >Тип этикетки <b>{{ n.mark_type }}</b></h5>
    <h5 class="card-title bottom font-10" ><b>*******************</b></h5>
    <h5 class="card-title bottom font-10" ><b>ЭДО-ЛАЙТ</b></h5>
    <h5 class="card-title bottom font-10" ><b>*******************</b></h5>
</div>