<div class="card card-body border text-center text-dark">
    <h6 class="card-title bottom">Номер заказа <b>{{ n.order_idn }}</b></h6>
    <h6 class="card-title bottom">Категория <b>{{ n.category }}</b></h6>
    <h6 class="card-title bottom">Агент  <b>{{ n.agent_name }}</b></h6>
    <h6 class="card-title bottom beautiful-font">{{ n.company_type }} {{ n.company_name }}</h6>
    <h6 class="card-title bottom beautiful-font"><b>{{ n.company_idn }}</b></h6>
    <h6 class="card-title bottom beautiful-font">Логин <b>{{ n.login_name }}</b></h6>
    <h6 class="card-title bottom beautiful-font">Email <b>{{ n.email }}</b></h6>
    <h6 class="card-title bottom beautiful-font">Телефон <b>{{ n.phone }}</b></h6>
    <h6 class="card-title bottom beautiful-font">Тип этикетки <br><b>{{ n.mark_type }}</b></h6>
    <h6 class="card-title bottom beautiful-font"><b>*******************</b></h6>
    <h6 class="card-title bottom beautiful-font"><b>ЭДО-ЛАЙТ</b></h6>
    <h6 class="card-title bottom beautiful-font"><b>*******************</b></h6>
</div>