{% extends 'main/base_v2.html' %}

{% block auth %}
<script src="{{url_for('static',filename='main_v2/assets/intel-tel-input/js/intlTelInput.js')}}"></script>
<script src="{{url_for('static',filename='main_v2/assets/js_mask/mask.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='main_v2/assets/intel-tel-input/css/intlTelInput.css')}}" />



<div class="front text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-5 fs-2">Пожалуйста, зарегистрируйтесь</h1>

    <form method="POST" id="sign_up" onsubmit ="return verify_sign_up_form(`{{url_for('auth.verify_sign_up_phone_code')}}`, `{{ admin_info.admin_is_at2 }}`);" action="{{url_for('auth.sign_up_post')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="p_link" value="{{ request.path }}">
        <input type="text" hidden id="admin_id" name="admin_id" class="form-control mt-3"
                   value="{{ admin_id }}" required>
        <input type="text" hidden id="partner_code_id" name="partner_code_id" class="form-control mt-3"
                   value="{{ partner_code_id }}" required>
        <div class="mb-3">
            <input type="text" name="login_name" id="login_name" class="form-control"
                           oninput="exclude_spaces(this);check_login_name()" minlength="6" maxlength="20" placeholder="Введите ваш login" required autofocus>
            <div class="small text-muted">Логин должен состоять из 6-20 символов без пробелов</div>
        </div>
        <input type="email" name="email" id="email" class="form-control mb-3" oninput="this.value = this.value.toLowerCase();"
                   placeholder="Введите email" required autofocus>

{#        {% if admin_info.admin_is_at2 %}#}
            <div class="d-flex align-items-center mt-3">
                <input type="tel" name="phone" id="phone" class="form-control me-2" autocomplete="off"
                       placeholder="Введите номер WhatsApp" onchange="check_intel_num()" required autofocus>
                <input type="hidden" name="full_phone" id="full_phone" value="">
            </div>
            <span class="small text-danger mb-3">Необязательно указывать свой телефон</span>

            <div class="input-group mt-3">

              <input type="password" class="form-control" aria-describedby="eye-toggle-sign"
                     id="password_sign" name="password" placeholder="Введите пароль" required>
                <span class="input-group-text bg-white" id="eye-toggle-sign" onclick="change_input_view('password_sign', 'eye-toggle-sign')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </span>
            </div>
            <div class="small text-muted mb-3">Пароль должен состоять из 6-20 символов</div>
            <div class="input-group mb-3">

              <input type="password" class="form-control" aria-describedby="eye-toggle-sign-check"
                     id="password_sign_check" name="password_check" placeholder="Введите повторно пароль" required>

                <span class="input-group-text bg-white" id="eye-toggle-sign-check" style="border:none" onclick="change_input_view('password_sign_check', 'eye-toggle-sign-check')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </span>

            </div>

            <div id = "message" style="color:#e75959"> </div>
            <div class="form-group">
                    <label for="captcha_text">Введите текст с картинки</label>
                    <img class="simple-captcha-img rounded" width="180px" src="data:image/jpeg;base64, {{ captcha_img | safe }}">
                    <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase();"
                           id="captcha_text" name="captcha-text" placeholder="Введите капчу" required>
                    <input type="hidden" class="form-control" id="captcha_hash" name="captcha-hash" value="{{ captcha_hash | safe }}">
            </div>

            <button type="submit" id="submit-button" class="btn btn-lg btn-accent btn-block mt-3">
                Зарегистрироваться
            </button>
{#        {% else %}#}
{#            <div class="d-flex align-items-center my-3">#}
{#                <input type="tel" name="phone" id="phone" class="form-control me-2" autocomplete="off"#}
{#                       placeholder="Введите номер WhatsApp" onchange="check_intel_num()" autofocus>#}
{#                <input type="hidden" name="full_phone" id="full_phone" value="">#}
{#                <button type="button" id ="verifyPhoneNumberButton" class="btn btn-secondary" onclick="verifyPhoneNumber(`{{ url_for('auth.send_verification_code') }}`)">#}
{#                    Верификация номера#}
{#                </button>#}
{#            </div>#}
{##}
{#            <div id="verification-code-input" class="mb-3" style="display: none;">#}
{#                <div class="input-group" >#}
{#                    <input type="text" id="verification-code" class="form-control" placeholder="Введите код из SMS">#}
{#                    <button type="button" class="btn btn-secondary" onclick="verifySignUpCode(`{{ url_for('auth.verify_sign_up_phone_code') }}`)">#}
{#                        Проверить код#}
{#                    </button>#}
{#                </div>#}
{#                <small class="text-muted">Введите код, отправленный на ваш номер.</small>#}
{#            </div>#}
{##}
{##}
{#            <div id="passwordsAndCaptchaHide" style="display:none">#}
{#                <div class="input-group mt-3">#}
{##}
{#                  <input type="password" class="form-control" aria-describedby="eye-toggle-sign"#}
{#                         id="password_sign" name="password" placeholder="Введите пароль" required>#}
{#                    <span class="input-group-text bg-white" id="eye-toggle-sign" onclick="change_input_view('password_sign', 'eye-toggle-sign')">#}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">#}
{#                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>#}
{#                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>#}
{#                        </svg>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="small text-muted mb-3">Пароль должен состоять из 6-20 символов</div>#}
{#                <div class="input-group mb-3">#}
{##}
{#                  <input type="password" class="form-control" aria-describedby="eye-toggle-sign-check"#}
{#                         id="password_sign_check" name="password_check" placeholder="Введите повторно пароль" required>#}
{##}
{#                    <span class="input-group-text bg-white" id="eye-toggle-sign-check" style="border:none" onclick="change_input_view('password_sign_check', 'eye-toggle-sign-check')">#}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">#}
{#                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>#}
{#                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>#}
{#                        </svg>#}
{#                    </span>#}
{##}
{#                </div>#}
{##}
{#                <div id = "message" style="color:#e75959"> </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label for="captcha_text">Введите текст с картинки</label>#}
{#                    <img class="simple-captcha-img rounded" width="180px" src="data:image/jpeg;base64, {{ captcha_img | safe }}">#}
{#                    <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase();"#}
{#                           id="captcha_text" name="captcha-text" placeholder="Введите капчу" required>#}
{#                    <input type="hidden" class="form-control" id="captcha_hash" name="captcha-hash" value="{{ captcha_hash | safe }}">#}
{#                </div>#}
{##}
        {#       <button type="submit" class="btn btn-lg btn-accent btn-block mt-3">Зарегистрироваться</button>#}
{#                <button type="submit" id="submit-button" class="btn btn-lg btn-accent btn-block mt-3">#}
{#                    Зарегистрироваться#}
{#                </button>#}
{#            </div>#}
{#        {% endif %}#}

    </form>

</div>

<div class="modal fade" id="hello_signupModal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="hello_signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="hello_signupModalLabel">
              Приветствуем на сервисе Маркировки
          </h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-justify">

          <h5><b>Вы находитесь на этапе регистрации!</b></h5>
          <h5 class="mt-3">Коллектив сервиса желает вам продуктивной работы и успехов!</h5>
          {% if partner_code_info.code %}
            <h5 class="mt-3">Ваш партнер код <span class="badge bg-warning text-black">{{partner_code_info.code}}</span></h5>
          {% endif %}
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ок</button>


      </div>
    </div>
  </div>
</div>

<script>
    window.onload = function () {
          $('#hello_signupModal').modal('show');

    };
  const tele2Codes = ["900", "901", "902", "904", "908", "950", "951", "952", "953", "958",
                                "977", "991", "992", "993", "994", "995", "996", "999" ];

  var tel_input = document.querySelector("#phone");

  const iti = intlTelInput(tel_input, {
    formatOnDisplay: true,
    initialCountry: "ru",
    nationalMode: true,
    placeholderNumberType: "MOBILE",
    preferredCountries: ['ru', 'kg'],
    separateDialCode: false,
    showFlags: true,
    utilsScript: "{{url_for('static',filename='main_v2/assets/intel-tel-input/js/utils.js')}}"
  });

  $(tel_input).on("countrychange", function(event) {

    var selectedCountryData = iti.getSelectedCountryData();

    newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.NATIONAL),

      iti.setNumber("");

    mask = newPlaceholder.replace(/[1-9]/g, "0");

    $(this).mask(mask);
  });

  iti.promise.then(function() {
    $(tel_input).trigger("countrychange");
  });
  {% if admin_info.admin_is_at2 %}
      iti.promise.then(function() {
    console.log('{{ admin_info.admin_phone }}');iti.setNumber("+79999999999");
    console.log('{{ admin_info.admin_is_at2 }}');
  }){% endif %}
</script>
{% endblock %}