{% extends "main/base_v2.html" %}

{% block categories %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_v2/css/service/jquery-ui.min.css')}}" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ url_for('static', filename='main_v2/js/assets/jquery-ui.min.js')}}" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='main_v2/js/datepicker-ru.js') }}"></script>

<div id="pc-config"
     data-save-card-url="{{ url_for('user_product_cards.save_product_card') }}"
     data-update-card-url="{{ url_for('crm_product_cards.crm_update_product_card') if crm_ else url_for('user_product_cards.update_product_card') }}"
     data-crm-redirect-url="{{ url_for('crm_product_cards.cards') }}"
     data-crm-flag="{{ '1' if crm_ else '0' }}"
     data-cards-url="{{ url_for('user_product_cards.cards') }}"
     data-current-category="{{ category_process_name or '' }}"
     data-current-subcategory="{{ subcategory or '' }}"
     data-edit-mode="{{ '1' if edit_mode else '0' }}"
     data-card-id="{{ edit_card_id or '' }}">
</div>

<div class="container py-4">
{% set category_name = category.capitalize() if category != 'одежда' or( category == 'одежда' and (not subcategory or subcategory == 'common')) else subcategories_dict[subcategory].capitalize() %}
    <h3 class="mb-4">{%if edit_mode %}Редактирование{%else%}Создание{% endif %} карточки товара в категории <u>{{ category_name }}</u> </h3>

    <form id="pc-create-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="category" value="{{ category_process_name }}">
        <input type="hidden" name="subcategory" value="{{ subcategory  or 'common'}}">

        {% if edit_mode %}
          <input type="hidden" name="card_id" value="{{ edit_card_id }}">
        {% endif %}
        {% include "product_cards/new/categories/" + category_process_name  + "/category_inputs.html" %}
    </form>

</div>

{% include 'helpers/error_modal.html' %}


<script src="{{url_for('static',filename='product_cards/users/' + category_process_name + '.js')}}?v=46"></script>
<script src="{{url_for('static',filename='product_cards/users/common.js')}}?v=6"></script>

<script>
    const excepted_articles = {{excepted_articles | tojson | safe}};
</script>
{% endblock %}
