
  {% for c in sent_no_rd_cards %}


    <div class="orders__item order" id="cardCommonBlock_{{ c.id }}">

      {% include 'product_cards/crm/helpers/card_header.html' %}


      <div class="order__body">
        <div class="order__info">
          {% include 'product_cards/crm/helpers/card_bottom_info_common.html' %}
        </div>

        <div class="order__all">
          {# Описание карточки (артикул, бренд, размеры) #}
          {% include 'product_cards/crm/helpers/card_description.html' %}
          {% if current_user.role != 'admin' %}
            <a href="{{url_for('crm_product_cards.crm_card_edit', card_id=c.id)}}" target="_blank" class="text-decoration-none">
              <span class="badge badge-soft bg-warning bg-opacity-10 text-warning">
                 <b>Редактировать</b>
              </span>
            </a>
            {% endif %}

          <div class="order__footer">
            {% include 'product_cards/crm/helpers/table_download.html' %}

            <div class="steps">
              <img src="{{ url_for('static', filename='crm_mod/img/icons/arrow-right-circle-fill.svg') }}"
                 width="24" height="24"
                 data-bs-toggle="tooltip"
                 data-bs-title="Взять в работу"
                 data-card-id="{{ c.id }}"
                 onclick="pcTakeCardToProcessing(this)">
            </div>
          </div>

          <div class="order__roll">
            Свернуть
            <img src="{{ url_for('static', filename='crm_mod/img/icons/roll.svg') }}" width="19" height="19">
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
