<div class="modal fade" id="checkTnvedModal" tabindex="-1" role="dialog" aria-labelledby="checkTnvedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="checkTnved_title">
              Вы ввели некорректный ТНВЭД!
          </h5>

        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body text-justify">

          <div id="check_tnved_insert"></div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary border-0 btn-accent text-dark" data-bs-dismiss="modal">Закрыть</button>

      </div>
    </div>
  </div>
</div>