{% if not o_id or 'change_order_org_param' in request.path%}
        <div class="form-group my-1" >

            <input class="form-control"  type="text" id="organization" name="organization"
                placeholder="Введите ИНН" title="Введите ИНН" oninput="if(count_words(this.value) < 3 || this.value.length<5){this.classList.remove('is-valid');this.classList.add('is-invalid')}"/>

            <div class="small form-text text-muted tex-justified">Заполнение и проверка типа организации, ее наименования
                        происходит автоматически по выбранному введенному ИНН.<br>
                        - введите <span style="color:indianred">ИНН</span>.<br>
                        Произойдет запрос к базе, если введенного ИНН нет в базе - введите ваши данные вручную.<br>
                <a href="#manual_orgModal" data-bs-toggle="modal" data-bs-target="#manual_orgModal" title="Ввести данные о компании вручную">
                    Ввести данные о компании вручную
                </a>

            </div>
        </div>
{% endif %}


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Тип организации</label>
            <input type="text" class="form-control" id="company_type" minlength="2"
                name="company_type"  required placeholder="Тип организации"
                   oninput="return false;" onpaste="return false" autocomplete="off" onkeydown="return false"
                {% if company_type%}
                    value="{{company_type}}"
                {% endif %}>

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Наименование</label>
            <input type="name" name="company_name" id="company_name"
                class="form-control" placeholder="Наименование"
                minlength="3" onkeyup="javascript:check_blank_start()"
                   oninput="return false;" onpaste="return false" autocomplete="off" onkeydown="return false"
                   required {% if company_name %}value="{{company_name}}"{%endif%}>
<!--            title="Для ИП - введите только фамилию (например для ИП ПЕТРОВ  П.П. введите ПЕТРОВ), для ООО введите наименование (например ООО 'СУПЕРСЕРВИС' введите СУПЕРСЕРВИС)"-->
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">ИНН</label>
            <input type="text" name="company_idn" id="company_idn" class="form-control" minlength="2"
                   oninput="return false;" onpaste="return false" autocomplete="off" onkeydown="return false"
                 placeholder="ИНН" maxlength="12" required  {% if company_idn %}value="{{company_idn}}"{%endif%}>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">ЭДО</label>
            <select class="form-control search-select" id="edo_type" name="edo_type"
                readonly="true">
                <option value="ЭДО-ЛАЙТ" selected="">ЭДО-ЛАЙТ</option>
            </select>
        </div>
    </div>
</div>

{% if o_id  and 'change_order_org_param' not in request.path %}
<div class="row mt-3">
    <a href="#" class="text-decoration-none" title="Редактировать карточку организации"
                  data-bs-toggle="modal" data-bs-target="#editOrgCardModal" data-bs-backdrop="static">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <g clip-path="url(#clip0_264_427)">
              <path d="M12.7391 2.62664L11.9666 3.39914L4.86577 10.4991C4.38493 10.9808 4.1441 11.2216 3.93743 11.4866C3.69336 11.7994 3.48407 12.1378 3.31327 12.4958C3.1691 12.7991 3.0616 13.1225 2.8466 13.7675L1.93493 16.5016L1.7116 17.17C1.65936 17.3258 1.65161 17.493 1.68922 17.653C1.72683 17.8129 1.80831 17.9592 1.92449 18.0754C2.04068 18.1916 2.18697 18.2731 2.34692 18.3107C2.50688 18.3483 2.67415 18.3405 2.82993 18.2883L3.49827 18.065L6.23243 17.1533C6.87827 16.9383 7.20077 16.8308 7.5041 16.6866C7.86243 16.5158 8.20077 16.3066 8.51327 16.0625C8.77827 15.8558 9.0191 15.615 9.49993 15.1341L16.6008 8.0333L17.3733 7.2608C17.9878 6.64628 18.333 5.8128 18.333 4.94372C18.333 4.07465 17.9878 3.24117 17.3733 2.62664C16.7587 2.01211 15.9253 1.66687 15.0562 1.66687C14.1871 1.66687 13.3536 2.01211 12.7391 2.62664Z" stroke="#575757" stroke-width="1.5"/>
              <path opacity="0.5" d="M11.9665 3.39832C11.9665 3.39832 12.0631 5.03998 13.5115 6.48832C14.9598 7.93665 16.6006 8.03248 16.6006 8.03248M3.49815 18.065L1.93481 16.5" stroke="#575757" stroke-width="1.5"/>
            </g>
            <defs>
              <clipPath id="clip0_264_427">
                <rect width="20" height="20" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        Редактировать организацию</a>
</div>
{% endif %}

{% if 'upload' in request.path %}
    <div class="row mt-5">
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label class="control-label">Тип этикетки</label>
                <input type="text" id="mark_type" name="mark_type" class="form-control readonly_field"
                                   placeholder="Нажмите чтобы выбрать тип этикетки"

                                   title="Поле привязки тип этикетки"
                                   autocomplete="off"
                                   oninput="return false;" onpaste="return false" autocomplete="off" onkeydown="return false"
                                   {% if mark_type %}
                                    value="{{ mark_type }}" {% endif %}
                                    data-bs-toggle="modal" data-bs-target="#markModal"
                                    required>

                            <input type="hidden" id="mark_type_hidden" name="mark_type_hidden" class="form-control"
                                           title="Поле привязки типа маркировки" {% if mark_type %}value="{{ mark_type }}"{% endif %}
                                           data-validate="true">
                            <div class="small form-text text-muted tex-justified">
                                Выберите необходимый тип этикетки!
                            </div>
            </div>
        </div>
        <div class="col-md-8 text-right form-group ">

            <label class="control-label">Таблица для загрузки</label>
            <label class="input-file">
              <input type="file" id="tableFile" name="table_upload"
                               accept=".xlsx" required>
               <span class="input-file-btn btn btn-secondary ">Выберите файл</span>
              <span class="input-file-text">Не выбрана</span>
            </label>

        </div>
    </div>
{% else %}
<div class="form-group mt-5">
    <label class="control-label">Тип этикетки</label>
    <input type="text" id="mark_type" name="mark_type" class="form-control readonly_field"
                       placeholder="Нажмите чтобы выбрать тип этикетки"

                       title="Поле привязки тип этикетки"
                       autocomplete="off"
                       oninput="return false;" onpaste="return false" autocomplete="off" onkeydown="return false"
                       {% if mark_type %}
                        value="{{ mark_type }}"
                        {% if 'change_order_org_param' not in request.path %}disabled
                        {%else%}data-bs-toggle="modal" data-bs-target="#markModal"
                        {% endif %}
                       {% else %}
                        data-bs-toggle="modal" data-bs-target="#markModal"
                       {% endif %} required>

                <input type="hidden" id="mark_type_hidden" name="mark_type_hidden" class="form-control"
                               title="Поле привязки типа маркировки" {% if mark_type %}value="{{ mark_type }}"{% endif %}
                               data-validate="true">
                <div class="small form-text text-muted tex-justified">
                    Выберите необходимый тип этикетки!
                </div>
</div>
{% endif %}


<script>
    const getDadataTokenUrl = "{{url_for('requests_common.get_dadata_token')}}";
</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<link href="{{url_for('static', filename='main_v2/dadata/suggestions.min.css')}}" rel="stylesheet" />
<script src="{{url_for('static', filename='main_v2/dadata/jquery.suggestions.min.js')}}"></script>
<script src="{{url_for('static', filename='main_v2/dadata/dadata.js')}}"></script>
