
<div class="col-md-4">
    <div class="form-group">
        <div class="d-flex align-items-center" >
            <label class="control-label d-block">Товарный знак</label>
            <div class="ms-3 form-check form-switch">
                <input class="form-check-input" type="checkbox" id="noTMSwitch"
                       data-bs-title="Нажмите, чтобы оставить поле пустым" data-bs-toggle="tooltip" data-bs-placement="top"
                    onchange="toggleArticleTrademarkField(this, 'trademark');"> <!-- Передаем `this` -->
            </div>
        </div>

        <!-- Скрываемое поле, которое отправляется -->
        <input type="text" name="trademark" id="trademark" class="form-control"
            onchange="check_article_word(this);check_valid(this);" minlength="1" maxlength="50" required
            title="Вводимое значение не должно превышать 50 знаков"
            {% if copied_order %} value="{{ copied_order.trademark }}" {% endif %}>

        <!-- Видимое пустое поле для пользователя -->
        <input type="text" id="trademark_display" class="form-control"
            value="" disabled style="display: none;">


    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <div class="d-flex align-items-center" >
            <label class="control-label">Артикул</label>
            <div class="ms-3 form-check form-switch">
                <input class="form-check-input" type="checkbox" id="noArtSwitch"
                       data-bs-title="Нажмите, чтобы оставить поле пустым" data-bs-toggle="tooltip" data-bs-placement="top"
                    onchange="toggleArticleTrademarkField(this, 'article');"> <!-- Передаем `this` -->
            </div>
        </div>

        <input type="text" name="article" id="article" class="form-control"
               onchange="check_article_word(this);check_valid(this);" minlength="2" maxlength="50"
               value="{% if copied_order %}{{ copied_order.article }}{% endif %}"
               required>
        <input type="text" id="article_display" class="form-control"
            value="" disabled style="display: none;">
    </div>
</div>
