<div class="border border-1 p-3" id="form_filters">
    <form action="" class="me-3">

        <div class="row">
            <div class="col-md-6">
                <label for="date_quantity" class="col-form-label text-right">Количество временных единиц (1 - 30)</label>
                <div class="input-group">
                    <input type="number" placeholder="Укажите число от 1 до 30" class="form-control" id="date_quantity" autocomplete="off"
                           name="date_quantity" min="1" max="{{date_quant_max}}" value=""
                           oninput="check_ra_filter_Validity(this)">
                </div>
            </div>
            <div class="col-md-6">
                <label for="date_type" class="col-form-label text-right">Тип временной единицы</label>
                <div class="input-group">
                    <select class="form-control search-select" id="date_type" name="date_type" required>
                        <!-- <option disabled selected value="">Выберите из списка..</option> -->
                        {% for t in date_range_types %}
                            <option value="{{t}}">{{t}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="mt-3">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="sort_type" id="asc_type" checked>
              <label class="form-check-label" for="asc_type">
                &uarr; По возрастанию (дата)
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="sort_type" id="desc_type">
              <label class="form-check-label" for="desc_type">
                &darr; По убыванию (дата)
              </label>
              </div>
        </div>
        <div class="mt-3">
            <a href="javascript:bck_get_users_reanimate(`{{url_for('admin_control.bck_control_reanimate')}}?bck=1`)" class="btn btn-accent">Обновить</a>
        </div>




    </form>
</div>