<div class="order__header">

  {% if c.status in ['in_progress', 'in_moderation', 'clarification'] %}
    <div class="pc-bulk-assign-select d-none me-2" onclick="event.stopPropagation()">
      <label class="form-check d-inline-flex align-items-center gap-2 mb-0">
        <input type="checkbox"
               class="form-check-input pc-bulk-assign-check"
               value="{{ c.id }}"
               onchange="pcUpdateBulkAssignCount()">
        <span class="form-check-label small">Назначить</span>
      </label>
    </div>
  {% endif %}


  <div class="order__name">

      #{{ c.id }}
    <span class="mx-1" data-bs-toggle="tooltip"
             data-bs-title="{{c.sizes}}">
      {% include 'product_cards/crm/helpers/counter.html' %}
    </span>
    <span class="me-1">
        <img src="{{ url_for('static', filename='crm_mod/img/icons/eye.svg') }}"
             role="button"
             class="pc-article-link"
             data-bs-toggle="tooltip"
             data-bs-title="открыть карточку"
             data-card-id="{{ c.id }}"
             data-view-url="{{ url_for('crm_product_cards.crm_card_view', card_id=c.id) }}"
              onclick="pcOpenViewModal(`{{ url_for('crm_product_cards.crm_card_view', card_id=c.id) }}`)">
    </span>

    {% include 'product_cards/crm/helpers/chat_icon.html' %}

    {% include 'product_cards/crm/helpers/card_logs.html' %}


  </div>
  {% include 'product_cards/crm/helpers/order_category.html' %}

</div>
