<div class="manager" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
     {% if current_user.role=='superuser' or current_user.role=='supermanager'%}
     data-bs-title="Оператор заказа. Нажмите, чтобы изменить."
    onclick="change_operator('{{ order_info.id }}', '{{order_info.order_idn}}', '{{ url_for('crm_d.change_order_manager', manager_id=manager_data.id, o_id=order_info.id) }}', '{{ csrf_token() }}')"
    {% else %} data-bs-title="Оператор заказа"
    {% endif %} readonly>
    <img src="{{url_for('static', filename='crm_mod/img/icons/file-person.svg')}}" alt="" class="img-fluid" width="24"
        height="24">
    <span>{{ manager_data.login_name }}</span>
</div>