{% if n.has_new_tnveds %}
    <img class="icons__item active" src="{{url_for('static', filename='crm_mod/img/icons/t.svg')}}" width="24" height="24"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="Есть позиции со новыми ТНВЭД категории одежда">
{%else%}
    <img class="icons__item" src="{{url_for('static', filename='crm_mod/img/icons/t.svg')}}" width="24" height="24">
{% endif %}
{% if n.declar_doc %}
    <img class="icons__item active" src="{{url_for('static', filename='crm_mod/img/icons/d.svg')}}" width="24" height="24"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="Есть позиции с разрешительной документацией">
{%else%}
    <img class="icons__item" src="{{url_for('static', filename='crm_mod/img/icons/d.svg')}}" width="24" height="24">
{% endif %}
{% if n.user_comment %}
    <img class="icons__item active" src="{{url_for('static', filename='crm_mod/img/icons/c.svg')}}" width="24" height="24"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="{{n.user_comment}}">
{%else%}
    <img class="icons__item" src="{{url_for('static', filename='crm_mod/img/icons/c.svg')}}" width="24" height="24">
{% endif %}
{% if n.stage > 2 %}
    {% if n.processing_info %}
        <div class="icons__item active" onclick="loadOrderCompanyOperatorModal('{{ n.id }}')"
            data-role="upd-icon"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
            data-bs-title="{{n.processing_info | safe}}">
            <svg width="24" height="24" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" aria-label="УПД">
              <circle cx="20" cy="20" r="18" fill="#087990" />
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-family="Arial, sans-serif" font-size="14" fill="white">УПД</text>
            </svg>
        </div>
    {%else%}
        <div class="icons__item mred" onclick="loadOrderCompanyOperatorModal('{{ n.id }}')"
            data-role="upd-icon"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
            data-bs-title="Организация и УПД заказа не закреплены">
            <svg width="24" height="24" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" aria-label="УПД">
              <circle cx="20" cy="20" r="18" fill="#087990" />
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-family="Arial, sans-serif" font-size="14" fill="white">УПД</text>
            </svg>

        </div>
    {% endif %}
{% endif %}

