<div class="front text-center">
            <h1 class="fs-2">Мои карточки</h1>
        </div>
{#<div class="row mb-3">
  <div class="col-md-4"></div>
  <div class="col-md-3">
  </div>
  <div class="col-md-4 text-md-end mt-3 mt-md-0">

    <button type="button"
            class="pc-btn pc-btn-yellow d-inline-flex align-items-center"
            data-bs-toggle="modal"
            data-bs-target="#pc-create-modal">
      <span class="me-2">+</span>
      <span>Создать новый товар</span>
    </button>
  </div>
</div>#}

  {% include "product_cards/user/nav_pills.html" %}

{% include 'product_cards/user/search_bar.html' %}
