    <div class="faded mt-3">
        <table class="table mt-3 table-result"  id="promo_history_table_info" >
            <thead class="text-dark">
                <tr>
                    <th scope="col">
                      Дата активации
                    </th>
                    <th scope="col">
                        E-mail пользователя
                    </th>
                    <th scope="col">
                        Логин агента
                    </th>
                    <th scope="col">
                        Бонускод
                    </th>
                    <th scope="col">
                        Добавочное значение, руб.
                    </th>

                </tr>
            </thead>

            <tbody id="bonus_history_table_body_info">

            {% for bc in bonus_codes_history %}
                <tr>
<!--                    <td class="tablesaw-cell-content">{{ loop.index }}</td>-->
                    <td class="tablesaw-cell-content">

                        {{bc.activate_date.strftime('%d.%m.%Y %H:%M')}}
                    </td>
                    <td>
                        {{ bc.user_email }}
                    </td>
                    <td>
                      {{ bc.agent_login }}
                    </td>
                    <td>
                      {{ bc.code }}
                    </td>
                    <td>
                      {{ bc.bonus_value }}
                    </td>

                </tr>

                {% endfor %}

            <tr>
            </tr>
            </tbody>
        </table>
        <div class="pagination-page-info text-center">На этой странице <b>{{ offset + 1 }} - {{ offset + bonus_codes_history|length }}</b> Всего: <b>{%if pagination.total%}{{ pagination.total }}{%else%}{{bonus_codes_history | length}}{%endif%}</b></div>
        <div class="pagination_section my-1" >
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col-md-1"></div>
            <div class="col-5" style="margin-left: 3%;">{{ pagination.links }}</div>

        </div>
        </div>

    </div>
