<div class="container">
    <div><b>Логин:</b> {{ transaction.login_name }}</div>
    <div><b>Почта:</b> {{ transaction.email }}</div>
    <div><b>Телефон:</b> {{ transaction.phone }}</div>
    <div><b>Номер:</b> {{ transaction.id }}</div>
    <div><b>Дата формирования:</b> {{ transaction.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</div>
    <div><b>Статус:</b> <span class="badge bg-warning text-black">{{ transaction_dict[transaction.status] }}</span></div>
{#    <div><b>Тип:</b> {% if transaction.type %}Пополнение {% else %}Списание{%endif%}</div>#}

    {% if transaction.promo_info %}
        <div><b>Промо:</b> {{ transaction.promo_info }}</div>
    {%endif%}

    {% if transaction.type %}
        <div><b>Тип транзакции:</b> Пополнение лицевого счета</div>
        <div><b>Счет:</b> {% if transaction.status !=3 %}
                                {% if service_account %}{{ service_account.sa_name }}{% endif %}
                          {%else%}Возврат средств отмененного заказа
                            <span class="text-warning">{{ transaction.wo_account_info }}</span>
                          {%endif%}
        </div>
    {% else %}
        <div><b>Тип транзакции:</b> Списание с лицевого счета</div>
        {% if transaction.wo_account_info%}<div><b>Реквизиты счета:</b> {{ transaction.wo_account_info | safe }}</div>{% endif %}
        {%if order_prices_marks%}
            <div class="my-1"><b>Заказы</b>: <!--<a href="{{url_for('orders_archive.index')}}" target="_blank" style="text-decoration: none">-->

            {% for o in order_prices_marks %}
                {% if not loop.index==1%}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {%endif%}
                <span class="text-warning">{{o.order_idn}}</span> - {{o.category}}, {{o.marks_count}} шт. - {{o.marks_count * transaction.op_cost}} р.{% if not loop.last %},<br>{% endif %}
            {% endfor %}<!--</a>-->
            </div>

            <b>Цена за марку</b>: {{transaction.op_cost}} р.<br>

            <b>Всего</b>: {{total_marks}} шт.
        {% endif %}

    {% endif %}
    <div><b>Сумма:</b> {{ transaction.amount }} р.</div>
    <div class="col mt-3" title="Скрин транзакции">{{transaction_image | safe}}</div>
    {% if transaction.status == 1 %}
         <div class="text-center mt-5">
            <div class="d-flex my-3">
                <div class="col-10">
                    <button class="btn btn-sm btn-outline-danger disabled" id="cancel_transaction_btn" data-bs-dismiss="modal"
                        onclick="bck_pending_transaction_change_status(`{{url_for('admin_control.bck_su_pending_transaction_update', u_id = transaction.user_id, t_id=transaction.id)}}`,
                        `{{url_for('admin_control.su_bck_control_ut')}}?bck=1`, {{1 if transaction.type else 0}}, 0, `{{csrf_token()}}`)">Отменить транзакцию</button>
                </div>
                <div class="col-2" onclick="uncheck_transaction_switch('cancel_transaction_switchbox', 'cancel_transaction_btn')">
                    <div class=" form-check form-switch ms-3">
                        <input type="checkbox" class="form-check-input border border-danger" role="switch" title="Разблокировка отмены транзакции"
                            id="cancel_transaction_switchbox" >
                        <label class="switch" for="cancel_transaction_switchbox"></label>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-10">
                    <button class="btn btn-sm btn-outline-success disabled" data-bs-dismiss="modal" id="confirm_transaction_btn"
                        onclick="bck_pending_transaction_change_status(`{{url_for('admin_control.bck_su_pending_transaction_update', u_id = transaction.user_id, t_id=transaction.id)}}`,
                        `{{url_for('admin_control.su_bck_control_ut')}}?bck=1`, {{1 if transaction.type else 0}}, 2, `{{csrf_token()}}`)">Подтвердить транзакцию</button>
                </div>
                <div class="col-2" onclick="uncheck_transaction_switch('confirm_transaction_switchbox', 'confirm_transaction_btn')">
                    <div class=" form-check form-switch ms-3">
                        <input type="checkbox" class="form-check-input border border-success" role="switch" title="Разблокировка подтверждения транзакции"
                            id="confirm_transaction_switchbox"">
                        <label class="switch" for="confirm_transaction_switchbox"></label>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
