<div class="crm__col">
    <div class="orders">
        <h2 class="orders__title">

            Заказ отправлен <span id="sentOrdersMainDiv_quantity"></span>
            <span class="badge" style="cursor: pointer" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
                                    data-bs-title="Перевести все заказы в ОБРАБОТКА ЗАВЕРШЕНА"
                  onclick="bck_move_all_orders_stp(`{{ url_for('crm_d.move_from_sent_orders')}}`, `{{ csrf_token() }}`);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
            </span>
            <span class="badge ms-3" style="cursor: pointer"
                 data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
                                    data-bs-title="Обновить список<br>ЗАКАЗ ОТПРАВЛЕН"
                 onclick="update_spec_block_info(`{{url_for('crm_d.update_agent_stage')}}`, 'sentOrdersMainDiv', 8, '{{csrf_token()}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                    </svg>
            </span>
        </h2>
        <div style="width:335px"></div>
        <div id="sentOrdersMainDiv">
            {% include 'crm_mod_v1/crma/updated_stages/orders_8.html' %}
        </div>

    </div>
</div>







