<div class="crm__col">
    <div class="orders">
        <h2 class="orders__title">
            В обработке у менеджера <span id="m_start_ordersMainDiv_quantity">({{m_start_orders | length}})</span>
        </h2>
        <div style="width:335px"></div>
        <div class="orders__list" id="m_start_ordersMainDiv">
          {% for n in m_start_orders %}
                <div class="orders__item order {% if n.to_delete %} div-disabled {%endif%}" id="cardCommonBlock_{{n.id}}">
                    <div class="order__header">
                        <div class="order__name">{{n.order_idn}} {%if n.is_at2%}<span>(Агент тип 2)</span>{%endif%} </div>
                        {% include 'crm_mod_v1/helpers/order_category.html' %}
                    </div>
                    <div class="order__body">
                        <div class="order__info">
                            <div class="order__small-text">
                                <div class="order__num">
                                   КС: {{ n.row_count }} КМ: {{ n.pos_count }}
                                </div>
                                <div class="order__time" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right"
                                    data-bs-title="CRM: {{n.crm_created_at.strftime('%d-%m-%Y %H:%M:%S')}}<br>MS: {{n.m_started.strftime('%d-%m-%Y %H:%M:%S')}}">
                                    {%if n.p_started %}{{n.p_started | time_since}}{%else%}{{n.crm_created_at | time_since}}{%endif%}
                                </div>
                            </div>
                            <div class="order__icons icons">
                                {% include 'crm_mod_v1/crma/special_alerts.html' %}
                            </div>
                        </div>
                        <div class="order__all">
                            <div class="manager">
                                <img src="{{url_for('static', filename='crm_mod/img/icons/file-person.svg')}}" alt="" class="img-fluid" width="24"
                                    height="24">
                                <span>{{n.manager}}</span>
                            </div>
                            {% include 'crm_mod_v1/crma/order_description.html' %}

                            <div class="order__footer">
                                <div class="order__icons icons">
                                {% include 'crm_mod_v1/helpers/table_download.html' %}


                                </div>
                            </div>
                            <div class="order__roll">
                                Свернуть
                                <img src="{{url_for('static', filename='crm_mod/img/icons/roll.svg')}}" alt="Свернуть" class="img-fluid" width="19"
                                    height="19">
                            </div>
                        </div>
                    </div>
                </div>

          {% endfor %}
        </div>
    </div>
</div>







