
    {% if n.category == 'обувь' %}
        <div class="order__img order__img--green" data-bs-toggle="tooltip" style="user-select: none;"
                            data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/02.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'одежда' %}
        <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/01.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'белье' %}
        <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/03.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'парфюм' %}
        <div class="order__img order__img--pink" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/04.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'игрушки' %}
        {% set toys_icon_map = {
            'doll_accessories': 'main_v2/img/icons/toys/doll_accessories.png',
            'puzzles': 'main_v2/img/icons/toys/puzzles.png',
            'competition_cars': 'main_v2/img/icons/toys/competition_cars.png',
            'sets_kits': 'main_v2/img/icons/toys/sets_kits.png',
            'motorized_toys': 'main_v2/img/icons/toys/motorized_toys.png',
            'animal_creature': 'main_v2/img/icons/toys/animal_creature.png',
            'scale_models_other': 'main_v2/img/icons/toys/scale_models_other_plastic.png',
            'musical_toy_instruments': 'main_v2/img/icons/toys/musical_toy_instruments.png',
            'dolls_human_figures': 'main_v2/img/icons/toys/dolls_human_figures.png',
            'card_games': 'main_v2/img/icons/toys/card_games.png'
        } %}
        <div class="order__img order__img--toys order__img--toys-{{ (n.subcategory or '')|replace('_', '-') }}" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{ subcategories_dict.get(n.subcategory, n.category) }}">
            <img src="{{ url_for('static', filename=toys_icon_map.get(n.subcategory, 'main_v2/img/icons/toys/toys.png')) }}" alt="" class="img-fluid">
        </div>
    {% endif %}
    {% if n.is_rf_order %}
        <span class="order-rf-badge" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Все позиции заказа со страной РФ" aria-label="Все позиции заказа со страной РФ">
            <svg class="order-rf-badge__flag" viewBox="0 0 36 36" aria-hidden="true" focusable="false" preserveAspectRatio="none">
                <rect fill="#F2F4F7" width="36" height="12.3"/>
                <rect fill="#3E6FB3" y="11.85" width="36" height="12.3"/>
                <rect fill="#D84A42" y="23.7" width="36" height="12.3"/>
            </svg>
        </span>
    {% endif %}
