{% extends "categories/category_upper_part.html" %}

{% block content %}


    <div class="row mt-5" align="center">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-xs-12">
          <label> <h5>Товарный знак</h5></label>
          <input type="text" name="trademark" class="form-control" maxlength="50"
              {% if copied_order %}value="{{ copied_order.trademark }}"
              {% endif %} required>
          <small class="text-secondary font-10">Вводимое значение не должно превышать 50 знаков</small>

        </div>
        <div class="col-md-2 col-xs-12">
          <label><h5>Артикул</h5></label>
          <input type="text" name="article" class="form-control" maxlength="50"
                 value="{% if copied_order %}{{ copied_order.article }}{% endif %}" required>
          <small class="text-secondary font-10">Вводимое значение не должно превышать 50 знаков</small>

        </div>

        <div class="col-md-3 col-xs-12">
          <label><h5>Вид товара</h5></label>
          <select class="form-control" id="type" name="type" required>
              <option disabled selected value="">Выберите из списка..</option>
              {%for l in types%}
                      <option value="{{l}}" {% if copied_order %}
                                                {% if copied_order.type == l %}
                                                    selected
                                                {% endif %}
                                            {% endif %}>{{l}}</option>
              {%endfor%}
          </select>
        </div>
        <div class="col-md-2 col-xs-12">
          <label><h5>Цвет</h5></label>
<!--          <input type="name" name="color" class="form-control" required>-->
          <select class="form-control" id="color" name="color" required>
              <option disabled selected value="">Выберите цвет..</option>
              {%for c in colors%}
                      <option value="{{c}}" {% if copied_order %}
                                                {% if copied_order.color == c %}
                                                    selected
                                                {% endif %}
                                            {% endif %}>{{c}}</option>
                    {%endfor%}
          </select>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-1"></div>

        {% include 'helpers/packages_box.html' %}

        <div class="col-md-6 col-xs-12 text-center" id="add_container">
            <label><h5>Размер X / Размер Y / Количество</h5></label>
            {% if copied_order %}
                {% for sq in copied_order.sizes_quantities %}
                    {% set sq_list = sq.size.split('*') %}

                    <div class="row mb-2" id="container_element">

                        <div class="col-md-4 col-xs-12">
                            <input type="number" min="10" step="1" name="sizeX" id="sizeX" class="form-control mb-1"
                                   value="{{ sq_list[0] }}" placeholder="Размер X" required>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <input type="number" min="10" step="1" name="sizeY" id="sizeY" class="form-control mb-1"
                                   value="{{ sq_list[1] }}" placeholder="Размер Y" required>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <input type="number" name="quantity" id="quantity" class="form-control ms-1"  min="1"
                               oninput="validity.valid||(value='');javascript:setLinen();" value="{{ sq.quantity }}" required>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="row mb-2" id="container_element">

                    <div class="col-md-4 col-xs-12">
                        <input type="number" min="10" step="1" name="sizeX" id="sizeX" class="form-control mb-1"
                               placeholder="Размер Х" required>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <input type="number" min="10" step="1" name="sizeY" id="sizeY" class="form-control mb-1"
                               placeholder="Размер Y" required>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <input type="number" name="quantity" id="quantity" class="form-control ms-1" value="1" min="1"
                           oninput="validity.valid||(value='');javascript:setLinen();" required>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="col-xs-12 mt-2">
              <input type="button" class="btn btn-sm btn-primary btn-block"
                     onclick="javascript:addCell();" value="+размер"/>
            </div>

            <div class="col-xs-12 mt-1">
                <input type="button" class="btn btn-sm btn-danger btn-block"
                     onclick="javascript:deleteCell();" value="-размер"/>
            </div>

            <div class="col-xs-12 text-center mt-3 ">
                <label><h4>В коробке</h4></label>
            </div>
            <div class="col-xs-12">
                <input type="number" id="linen_in_box" class="form-control ms-1"  disabled>
                <script>
                    document.addEventListener("DOMContentLoaded", (event) => {
                        setLinen();
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-xs-12">
          <label><h5>Возраст потребителя</h5></label>
<!--          <input type="name" name="customer_age" class="form-control" required>-->
          <select class="form-control" id="customer_age" name="customer_age" required>
            <option disabled selected value="">Выберите из списка..</option>
            {%for ca in customer_ages%}
                <option value="{{ca}}" {% if copied_order %}
                                                {% if copied_order.customer_age == ca %}
                                                    selected
                                                {% endif %}
                                            {% endif %}>{{ca}}</option>
            {%endfor%}
          </select>


        </div>
        <div class="col-md-3 col-xs-12">
          <label><h5>Тип текстиля</h5></label>
          <select class="form-control" id="textile_type" name="textile_type" required>
              <option disabled selected value="">Выберите тип текстиля..</option>
              {%for t in textile_types%}
                      <option value="{{t}}" {% if copied_order %}
                                                {% if copied_order.textile_type == t %}
                                                    selected
                                                {% endif %}
                                            {% endif %}>{{t}}</option>
                    {%endfor%}
          </select>
        </div>
        <div class="col-md-4 col-xs-12">
          <label><h5>Состав</h5></label>
          <input type="text" name="content" class="form-control" maxlength="100"
                 value="{% if copied_order %}{{ copied_order.content }}{% endif %}"required >
          <small class="text-secondary font-10">Вводимое значение не должно превышать 100 знаков</small>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-1"></div>


        <div class="col-md-3 col-xs-12">
          {% include 'helpers/countries_block.html' %}
        </div>

        {% include 'helpers/tnved_code_block.html' %}
        {% include 'helpers/article_price_rd_box.html' %}
    </div>
    <div class="col text-center">
        <input type="hidden" id="sort_type_order" name="sort_type_order"
                   value={{ request.args.sort_type|default('id') +  ';' + request.args.sort_order|default('false')}}>
        <button class="btn btn-lg btn-primary mt-5 mb-2"  type="submit">
                      <font size="2">{% if 'edit' in request.path %}Изменить позицию{% else %}+Добавить в заказ{% endif %}</font>
                  </button>
    </div>
    </div>
</form>


{% set sort_type = request.args.sort_type|default('id') %}
{% set sort_order = request.args.sort_order|default('false') %}

{%if order_list%}
    <div class="col  text-center mt-5 mb-4" id="orders_table">
        <h3>
            Заказ
            <span class="badge badge-xl bg-secondary text-white" style="cursor:pointer;"
                  onclick="location.href='{{ url_for('linen.preload', o_id=o_id, stage=order_stages.CREATING) }}'" title="Предпросмотр заказа">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg>
            </span>
        </h3>
    </div>
    <div class="col" align="left">

    {{ pagination.links }}

        <table class="table table-hover table-bordered mt-1">
          <thead class="thead-dark">
            <tr>
              <th scope="col" title="Сортировка по порядку">
                 {% if sort_type == 'id' %}
                      {% if sort_order == 'true'%}
                          <div style="font-size:13px; color:#68dc68" id="sort_common_table">
                              <input type="checkbox" class="sortOrder" id="sort_order_id"
                                     checked
                               onchange="javascript:sort_order_list_common('{{ request.path }}', 'id', 'sort_order_id');"
                               autofocus>
                              <label for="sort_order_id" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;№&nbsp;
                         </div>
                      {% else %}
                          <div style="font-size:13px; color:#fccd57" id="sort_common_table">
                              <input type="checkbox" class="sortOrder" id="sort_order_id"
                               onchange="javascript:sort_order_list_common('{{ request.path }}', 'id', 'sort_order_id');"
                               autofocus>
                              <label for="sort_order_id" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;№&nbsp;
                          </div>
                      {% endif %}
                 {% else %}
                     <div style="font-size:13px;" id="sort_common_table">
                          <input type="checkbox" class="sortOrder" id="sort_order_id"
                          onchange="javascript:sort_order_list_common('{{ request.path }}', 'id', 'sort_order_id');"
                          autofocus>
                          <label for="sort_order_id" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;№&nbsp;
                      </div>
                 {% endif %}

              </th>

              <th scope="col"><font size="2">Товарный_знак</font></th>
              <th scope="col" title="Сортировка по артикулу">
                  {% if sort_type == 'article' %}
                      {% if sort_order == 'true'%}
                          <div style="font-size:13px; color:#68dc68">
                              <input type="checkbox" class="sortOrder" id="sort_order_article"
                                     checked
                               onchange="javascript:sort_order_list_common('{{ request.path }}', 'article', 'sort_order_article');"
                               autofocus>
                              <label for="sort_order_article" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;Артикул&nbsp;
                          </div>
                      {% else %}
                          <div style="font-size:13px; color:#fccd57">
                              <input type="checkbox" class="sortOrder" id="sort_order_article"
                               onchange="javascript:sort_order_list_common('{{ request.path }}', 'article', 'sort_order_article');"
                               autofocus>
                              <label for="sort_order_article" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;Артикул&nbsp;
                          </div>
                      {% endif %}
                  {% else %}
                      <div style="font-size:13px;">
                          <input type="checkbox" class="sortOrder" id="sort_order_article"
                          onchange="javascript:sort_order_list_common('{{ request.path }}', 'article', 'sort_order_article');"
                          autofocus>
                          <label for="sort_order_article" class="arrows"></label>&nbsp;&nbsp;&nbsp;&nbsp;Артикул&nbsp;
                      </div>
                  {% endif %}

              </th>

              <th scope="col"><font size="2">Вид_товара</font></th>
              <th scope="col"><font size="2">Цвет</font></th>
              <th scope="col"><font size="2">Комплект <br>(Да/Нет)</font></th>
              <th scope="col"><font size="2">Кол-во шт.</font></th>
              <th scope="col"><font size="2">Размеры(X*Y) / Количество</font></th>
              <th scope="col"><font size="2">Возраст потребителя</font></th>
              <th scope="col"><font size="2">Тип текстиля</font></th>
              <th scope="col"><font size="2">Состав</font></th>
              <th scope="col"><font size="2">Страна</font></th>
              <th scope="col"><font size="2"></font></th>
              <th scope="col"><font size="2"></font></th>
            </tr>
          </thead>
          <tbody>

    {%for t in order_list%}
        <tr>
          <th scope="row">{{ offset+loop.index }}</th>

          <td>
              {{t.trademark}}
          </td>
          <td>
              {{t.article}}
          </td>
          <td>
              {{t.type}}
          </td>
          <td>
              {{t.color}}
          </td>
          <td>
              {{t.with_packages}}
          </td>
          <td class="text-center">

              {% if t.with_packages=='да' %}
                  <span class="badge badge-xl bg-warning" title="КОМПЛЕКТ"> комплект
                  </span>
                  <br>
              {{ t.box_quantity }}
              {% else %}
                  {{ t.sizes_quantities|count_quantity * t.box_quantity }}
              {% endif %}
          </td>
          <td>
              <div class="container">
                <div class="row">
                    {%for sq in t.sizes_quantities%}
                        {{sq.size}}&nbsp/&nbsp{{sq.quantity}}{%if not loop.last%}<br>{%endif%}
                    {%endfor%}
                </div>
              </div>

          </td>

          <td>
              {{t.customer_age}}
          </td>
          <td>
              {{t.textile_type}}
          </td>
          <td>
              {{t.content}}
          </td>
          <td>
              {{t.country}}
          </td>


          <td>
            <div class="d-flex no-wrap">
                <button type="button" class="btn btn-sm btn-outline-primary"
                     onclick="copy_order_with_sort('{{ url_for('linen.copy_order', o_id=o_id, p_id=t.id, edit_order='edit_order') }}')"
                     title="Изменить позицию заказа">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary ml-1"
                     onclick="copy_order_with_sort('{{ url_for('linen.copy_order', o_id=o_id, p_id=t.id) }}')"
                     title="Копировать позицию заказа">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
                      </svg>
                  </button>
            </div>
          </td>
          <td>
              <form method="post" action="{{ url_for('linen.delete_order_pos',o_id=o_id, l_id=t.id)}}">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <input class="btn btn-sm btn-outline-danger btn-outline"
                                 title="Удалить позицию заказа"type="submit"
                                 name="delete" value="&times;">
                  </form>
          </td>
        </tr>
    {%endfor%}
          {% include 'helpers/order_pos_count_box.html' %}
          </tbody>
        </table>
        <div class="pagination-page-info text-center">На этой странице <b>{{ offset + 1 }} - {{ offset + order_list|length }}</b> Всего: <b>{{ pagination.total }}</b></div>
        {{ pagination.links }}
    </div>
{%endif%}
<script>
document.addEventListener("DOMContentLoaded", (event) => {
        {% if not copied_order %}set_tnved();{% endif %}

            });

function check_value(size_val){ var size = parseInt(size_val,10);
    if (isNaN(size)) { return size_val
    } else{
        return size+1}
}

function countLinen(){
    var total = 1;
    document.querySelectorAll('[id=quantity]').forEach(el=>total+=+el.value);
    return total

}

function setLinen(){
    var total = 0;
    document.querySelectorAll('[id=quantity]').forEach(el=>total+=+el.value);
    document.getElementById('linen_in_box').value = total;
}

function addCell(){
    var total = countLinen();
    document.getElementById('linen_in_box').value = total;

    var sizeX_vals = document.querySelectorAll('[id=sizeX]');
    var sizeY_vals = document.querySelectorAll('[id=sizeY]');

    var sizeX = sizeX_vals[sizeX_vals.length -1].value;
    var sizeY = sizeY_vals[sizeY_vals.length -1].value;

    {#var sizeX = check_value(sizeX_val);#}
    {#var sizeY = check_value(sizeY_val);#}
    var f = document.getElementById('add_container');

    f.insertAdjacentHTML( 'beforeend', `<div class="row mb-2" id="container_element"><div class="col-md-4 col-xs-12"><input type="number" min="10" step="1" name="sizeX" id="sizeX" class="form-control mb-1" value="${sizeX}" required></div><div class="col-md-4 col-xs-12"><input type="number" min="10" step="1" name="sizeY" id="sizeY" class="form-control mb-1" value="${sizeY}" required></div><div class="col-md-4 col-xs-12"><input type="number" name="quantity" id="quantity" class="form-control ms-1" value="1" min="1" oninput="validity.valid||(value='');javascript:setLinen();" required></div></div>`);

}

function deleteCell(){
    size_vals = document.querySelectorAll('[id=container_element]');
    var size_el = size_vals[size_vals.length -1]
    if (size_vals.length > 1){
    size_el.remove()
    }
     var total = countLinen();
    document.getElementById('linen_in_box').value = total-1;
}

</script>
{% endblock %}