{% extends 'main/base_v2.html' %}

{% block categories %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/datepicker-ru.js') }}"></script>

   {% include 'categories/upper_part.html' %}

<div class="px-5">
    <form role="form" id="form_process_main" method="post" onsubmit="return check_rd_docs() && check_tnved('submit');"
              action="{% if 'edit_order' in request.path %}{{ url_for(category_process_name + '.preprocess_order',o_id=o_id, p_id=p_id)}}{% else %}{{ url_for(category_process_name + '.preprocess_order', o_id=o_id)}}{% endif %}"> <!-- closed in categories-->

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {% include 'helpers/shoes/shoes_1st_step.html' %}

        {% include 'helpers/shoes/shoes_2nd_step.html' %}

<!--        <div class="col text-center">-->
<!--            <input type="hidden" id="sort_type_order" name="sort_type_order"-->
<!--                   value={{ request.args.sort_type|default('id') +  ';' + request.args.sort_order|default('false')}}>-->

<!--        </div>-->


    </form>

        {% include 'helpers/shoes/shoes_3rd_step.html' %}

</div>
    <!-- КОНЕЦ ПОШАГОВАЯ ФОРМА -->

<div id="ShowModalTable"></div>


{% include 'helpers/modal_questions_v2.html' %}
{% include 'helpers/modal_questions_org.html' %}

<script src="{{url_for('static',filename='main_v2/js/categories/parfum.js')}}"></script>
<script>

document.addEventListener("DOMContentLoaded", function(event){
edit_copied_full_order();
setShoes();
})




</script>

{% endblock %}