{% extends "main/base_v2.html" %}

{% block fc_panel %}


<div>
    <div class="top-content d-flex  mb-5">
        <div class="breadcrumbs">
            {% if current_user.role != 'm2r_admin' %}
            <a href="{{url_for('admin_control.index')}}">Панель управления </a>
            /
            {% endif %}
            <span>Страница клиентов на реанимации</span>
        </div>
    </div>

</div>

{% include 'admin/ra/agent/ra_filters.html' %}

<div id="user_response">
{% include 'admin/ra/agent/user_reanimate_response.html' %}
</div>

<div id="copy_link_modals">
</div>

<div id="change_user_password_modal">
</div>

<div id="user_prices_modal">
</div>

{% include 'helpers/error_modal.html' %}

<script>
    const currentUserRole = `{{current_user.role}}`;
    const prices_array = [{% for p in all_prices %}[{{ p.id }},'{{ p.price_code }}'],{% endfor %}];
</script>
<script src="{{url_for('static',filename='main_v2/js/admin/admin_uc.js')}}?v=26"></script>
<script src="{{url_for('static',filename='main_v2/js/admin/admin_common.js')}}"></script>
<script src="{{url_for('static',filename='main_v2/js/admin/admin_main.js')}}"></script>
<script src="{{url_for('static',filename='main_v2/js/admin/prices_block.js')}}?v=2"></script>

{% endblock %}