<div class="collapse" id="cross_order_user_search">


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
            <div class="form-text text-muted mt-3" style="text-align: justify;">
                Введите интересующий вас ИНН нажмите enter (или кликните мышкой вне поля ввода)!
                Будут представлены пользователи, оформившие по нему заказы. Поиск ИНН производится по истории заказов
                (если пользователь еще не заказал, то информации не будет). Сервис подгружает не более 50 результатов.
                <br> <b>После активации удаления или включения excel найденных пользователей вы будете перенаправлены на страницу агента этого пользователя</b>
            </div>

            <input type="number" name="cross_order_idn" id="cross_order_idn" class="form-control"
                   onchange="search_cross_user(`{{ url_for('admin_control.cross_user_search') }}`, `{{ csrf_token() }}`)"
                   placeholder="Введите ИНН и нажмите enter!">
        </div>

    </div>
    <div id="cross_user_search_result"></div>
    <div id="cross_user_markineris_search_result"></div>
</div>
