<div id="cross_order_user_search">

    <div class="mb-3">

        <label class="form-label search-form__label"
               data-bs-toggle="tooltip" data-bs-placement="right"
               title="Введите интересующий вас ИНН нажмите кнопку Поиск!
            Будут представлены пользователи, оформившие по нему заказы. Поиск ИНН производится по истории заказов
            (если пользователь еще не заказал, то информации не будет). Сервис подгружает не более 50 результатов.
            <br> <b>После активации удаления или включения excel найденных пользователей вы будете перенаправлены на страницу агента этого пользователя</b>">По
            ИНН
            <b><i>(i)</i></b>
        </label>

        <div class="input-group mb-3">
            <input type="number" name="search_by_idn" id="search_by_idn"
                   class="form-control search-form__input"
                   placeholder="Введите ИНН и нажмите Поиск!">
            <div class="input-group-append">
              <span class="input-group-text btn-accent" style="cursor:pointer"
                    onclick="searchUserByIdn(`{{ url_for('admin_control.user_search_idn', user_admin_id = admin_info.id) }}`, `{{ csrf_token() }}`);">
                  Поиск
              </span>
            </div>

        </div>

    </div>

</div>

