<div class="container text-center mt-3">
    <h3 align="center">Поиск пользователя по ИНН в истории заказов</h3>
    <small class="form-text text-muted mt-1">Введите ИНН, по которому хотите найти пользователя и нажмите enter (или кликните мышкой вне поля ввода)! Сервис подгружает не более 50 результатов.</small>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 d-flex">
            <input type="text" name="search_user_idn" id="search_user_idn" class="form-control"
                   onchange="search_user_idn(`{{ url_for('admin_control.user_search_idn', user_admin_id = admin_info.id) }}`, `{{ csrf_token() }}`);"
                   placeholder="Введите ИНН компании по которой хотите найти пользователя">
        </div>
    </div>
</div>
<div id="user_search_idn_result" class="mb-3"></div>
