<div id="su_service_user_search">
    <div class="mb-3">
        <label class="form-label search-form__label"
               data-bs-toggle="tooltip" data-bs-placement="right"
               title="Введите логин, email или телефон пользователя и нажмите кнопку Поиск!
            Сервис подгружает не более 50 результатов.
            После активации удаления или включения excel найденных пользователей вы будете перенаправлены на страницу агента этого пользователя">По
            login, email и телефону
            <b><i>(i)</i></b>
        </label>

        <div class="input-group mb-3">
            <input type="text" name="search_text" id="search_text" maxlength="100"
                   class="form-control search-form__input"
                   placeholder="Введите запрос и нажмите поиск!">
            <div class="input-group-append">
              <span class="input-group-text btn-accent" style="cursor:pointer"
                    onclick="searchUser(`{{ url_for('admin_control.user_search', user_admin_id = admin_info.id) }}`, `{{ csrf_token() }}`)">
                  Поиск
              </span>
            </div>

        </div>

    </div>

</div>





