<div class="modal fade" id="service_priceModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="service_priceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" data-backdrop="static" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="service_priceModalLabel">Форма редактирования ценового пакета <b>{{ price.price_code}}</b>.</h5>
        <button type="button" class="btn-close" onclick="clear_modal_service_prices();" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <h6>Введите требуемые значения и нажмите кнопку Изменить</h6>
            <form method="POST" action="{{url_for('admin_control.su_edit_price', p_id=price.id)}}" id="service_price_edit_form">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="mt-3" title="Введите настройки ценового пакета">

                    <div class="input-group my-3" title="Введите цену [0, 99] не более {{basic_prices[1]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-1-pre">[0, 99], шт.</span>
                        </div>
                       <input type="number" id="price_1" name="price_1" class="form-control" placeholder="Введите цену не более {{basic_prices[1]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[1]*2}}" value="{{price.price_1}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_1_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [100, 499] не более {{basic_prices[2]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-2-pre">[100, 499], шт.</span>
                        </div>
                       <input type="number" id="price_2" name="price_2" class="form-control" placeholder="Введите цену не более {{basic_prices[2]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[2]*2}}" value="{{price.price_2}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_2_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [500, 999] не более {{basic_prices[3]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-3-pre">[500, 999], шт.</span>
                        </div>
                       <input type="number" id="price_3" name="price_3" class="form-control" placeholder="Введите цену не более {{basic_prices[3]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[3]*2}}" value="{{price.price_3}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_3_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [1000, 2999] не более {{basic_prices[4]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-4-pre">[1000, 2999], шт.</span>
                        </div>
                       <input type="number" id="price_4" name="price_4" class="form-control" placeholder="Введите цену не более {{basic_prices[4]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[4]*2}}" value="{{price.price_4}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_4_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [3000, 4999] не более {{basic_prices[5]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-5-pre">[3000, 4999], шт.</span>
                        </div>
                       <input type="number" id="price_5" name="price_5" class="form-control" placeholder="Введите цену не более {{basic_prices[5]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[5]*2}}" value="{{price.price_5}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_5_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [5000, 9999] не более {{basic_prices[6]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-6-pre">[5000, 9999], шт.</span>
                        </div>
                       <input type="number" id="price_6" name="price_6" class="form-control" placeholder="Введите цену не более {{basic_prices[6]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[6]*2}}" value="{{price.price_6}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_6_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [10000, 19999] не более {{basic_prices[7]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-7-pre">[10000, 19999], шт.</span>
                        </div>
                       <input type="number" id="price_7" name="price_7" class="form-control" placeholder="Введите цену не более {{basic_prices[7]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[7]*2}}" value="{{price.price_7}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_7_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [20000, 34999] не более {{basic_prices[8]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-8-pre">[20000, 34999], шт.</span>
                        </div>
                       <input type="number" id="price_8" name="price_8" class="form-control" placeholder="Введите цену не более {{basic_prices[8]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[8]*2}}" value="{{price.price_8}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_8_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [35000, 49999] не более {{basic_prices[9]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-9-pre">[35000, 49999], шт.</span>
                        </div>
                       <input type="number" id="price_9" name="price_9" class="form-control" placeholder="Введите цену не более {{basic_prices[9]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[9]*2}}" value="{{price.price_9}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_9_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [50000, 99999] не более {{basic_prices[10]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-10-pre">[50000, 99999], шт.</span>
                        </div>
                       <input type="number" id="price_10" name="price_10" class="form-control" placeholder="Введите цену не более {{basic_prices[10]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[10]*2}}" value="{{price.price_10}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_10_addon">руб.</span>
                       </div>
                    </div>
                    <div class="input-group my-3" title="Введите цену [100000+] не более {{basic_prices[11]*2}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn-accent" id="price-11-pre">[100000+], шт.</span>
                        </div>
                       <input type="number" id="price_11" name="price_11" class="form-control" placeholder="Введите цену не более {{basic_prices[11]*2}}"
                                           step="0.01" min="1" max="{{basic_prices[11]*2}}" value="{{price.price_11}}" required>
                       <div class="input-group-append">
                         <span class="input-group-text" id="price_11_addon">руб.</span>
                       </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="clear_modal_service_prices();" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-accent"
                            onclick="if(check_prices_form('service_price_edit_form')){bck_edit_price_post_process(`{{url_for('admin_control.su_edit_price', p_id=price.id)}}`, `{{url_for('admin_control.su_bck_prices')}}`)}">
                            Изменить
                        </button>
                </div>
            </form>
        </div>
      </div>


    </div>
  </div>
</div>

