{% extends "main/base_v2.html" %}

{% block pa_panel %}


<div class="container">
    <div class="top-content d-flex justify-content-between flex-wrap g-5 mb-5">
        <div class="breadcrumbs">
            <a href="{{url_for('main.enter')}}">Главная </a>
            /
            <span>Лицевой счет пользователя</span>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-5">

<!--            <div class="personal_acc_info mb-1">Лицевой счет: <span class="link-warning"><b>some_num</b></span></div>-->
            <div class="personal_acc_info">Баланс: <span class="link-warning"><b id="pa_confirmed_balance">{{ current_user.balance }} р.</b></span></div>
            <div class="personal_acc_info">Зарезервировано на пополнение: <span class="link-warning"><b id="pa_pending_balance_rf">{{ current_user.pending_balance_rf }} р.</b></span></div>

        </div>



    </div>
    <div class="row mt-3">
        <div class=" col-md-4">

            <a href="javascript:update_personal_account('fill')"
                class="btn btn-outline-secondary btn-block active" id="pills-fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-bag-plus fs-1" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"></path>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                </svg>
                Пополнить счет
            </a>
        </div>
        <div class="col-md-4">
            <a href="javascript:update_personal_account('price')"
                class="btn btn-outline-secondary btn-block" id="pills-price">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-currency-dollar fs-1" viewBox="0 0 16 16">
                  <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                </svg>
                Прайс
            </a>
        </div>
        <div class="col-md-4">
            <a href="javascript:get_transaction_history(`{{url_for('user_cp.bck_update_transactions', u_id=u_id)}}`)"
                class="btn btn-outline-secondary btn-block" id="pills-transactions_history">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left-right fs-1" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                    История транзакций
            </a>
        </div>
    </div>

</div>

<div id="personal_account_stages">
    {% include 'user_control/fill_account.html' %}
    {% include 'user_control/price.html' %}

    <div id="transactions_history_block" style="display:none">

    </div>

</div>

{% include 'helpers/error_modal.html' %}

{% include 'user_control/transactions/transaction_modal.html' %}



{% endblock %}