<div id="price_results">
    {{ price_data }}
</div>
<div class="container mt-5 faded" id="price_block" style="display:none">
    {% if not agent_info.is_at2 %}


        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-3">
                <div class="row">
                    <div class="col-10">
                        <h5 class="text-center" style="font-weight: bold">Ценовой тариф</h5>
                        {% if user_prices %}
                            <div class="container">
                              <div class="mt-3" title="Введите настройки ценового пакета">

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[0, 99], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_1}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[100, 499], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_2}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[500, 999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_3}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[1000, 2999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_4}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[3000, 4999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_5}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[5000, 9999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_6}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[10000, 19999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_7}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[20000, 34999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_8}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[35000, 49999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_9}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[50000, 99999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_10}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[100000+], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{user_prices.price_11}}</span> <!-- Removed btn-accent -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                              </div>
                            </div>

                        {% else %}
                            <div class="container">
                              <div class="mt-3" title="Введите настройки ценового пакета">

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[0, 99], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[1] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[100, 499], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[2] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[500, 999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[3] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[1000, 2999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[4] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[3000, 4999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[5] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[5000, 9999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[6] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[10000, 19999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[7] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[20000, 34999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[8] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[35000, 49999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[9] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[50000, 99999], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[10] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                                <div class="input-group my-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text btn-accent range-text">[100000+], шт.</span>
                                  </div>
                                  <span class="input-group-text price-text">{{ basic_prices[11] }}</span> <!-- Replaced -->
                                  <div class="input-group-append">
                                    <span class="input-group-text">руб.</span>
                                  </div>
                                </div>

                              </div>
                            </div>

                        {% endif %}
                        <button type="button" class="btn btn-accent" data-bs-toggle="modal"
                                data-bs-target="#all_orders_price_info">
                            Подробнее
                        </button>
                    </div>
                    <div class="col-2">
                        <div class="text-center" style="font-weight: bold" title="Концепция расчета цены">
                            <a id="toggle-price-description" data-bs-toggle="collapse" href="#price_description" role="button" onclick="setTimeout(() => document.getElementById('price_description').focus(), 500);"
                               aria-expanded="false" aria-controls="price_description">
                                <img src="{{url_for('static', filename='main_v2/img/icons/question-mark-circle.svg')}}" class="me-2 blink-y-border-rounded" width="50"
                                                             height="50">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-left">
                <div id="price_description" class="collapse" tabindex="-1">
                    <div class="price mx-auto">
                        <div class="price-item border border-warning border-2 text-justify">
                            Оплата за заказы списывается ежедневно в 23:59. В системе используется динамический расчет стоимости заказов.
                            <br><br> - Для заказов по первым двум ИНН стоимость рассчитывается исходя из суммы марок всех заказов по этим двум ИНН. (Заказы по объединенной схеме)
                            <br><br> - Для всех последующих ИНН расчет стоимости производится исходя из сумм марок заказов отдельно для каждого ИНН. (Заказы по общей схеме)
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% else %}
        Ваш агент <span class="badge bg-warning text-black">{{ agent_info.login_name }}</span> работает по типу <u>единый счет</u>, он определяет цены.
        <div class="price mx-auto my-5">

            <div class="price-item">
                <div class="price-num">Количество заказов в обработке</div>
                <div class="price-val">{{ po_rep.report_data.sco }}&nbsp;шт.</div>
            </div>
            <div class="price-item">
                <div class="price-num">Количество марок в заказах</div>
                <div class="price-val">{{ po_rep.report_data.smc }}&nbsp;шт.</div>
            </div>
        </div>
    {% endif %}

</div>


{% if not agent_info.is_at2 %}
    {% include 'user_control/price_modal_description.html' %}
{% endif %}