{% extends "main/base_v2.html" %}

{% block uc_panel %}

<div class="container">
    <div class="row col-md">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12 text-center mb-3">

            <form method="post" onsubmit ="return upr_verifyPassword()"
                  action="{{ url_for('user_cp.change_user_password_na')}}">
            <div class="mb-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h3 class="h3 mb-3 font-weight-normal">Создание нового пароля для {{ user.login_name }}</h3>
                <small class="text-secondary">Срок работы ссылки для смены пароля <b>3 часа</b> с момента ее создания.<br>
                       После смены пароля ссылка будет недействительна.</small>
            </div>

            <div class="input-group mb-3">

              <input type="password" class="form-control" aria-describedby="eye-toggle"
                     id="new_password" name="new_password" placeholder="Введите новый пароль" required>

                <span class="input-group-text bg-white" id="eye-toggle" style="border:none" onclick="change_input_view('new_password', 'eye-toggle')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </span>

            </div>

            <div class="input-group mb-3">

              <input type="password" class="form-control" aria-describedby="eye-toggle-check"
                     id="password_check_field" name="password_check_field" placeholder="Повторите новый пароль" required>

                <span class="input-group-text bg-white" id="eye-toggle-check" style="border:none" onclick="change_input_view('password_check_field', 'eye-toggle-check')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </span>

            </div>

            <div id="message_new_password" style="color:#e75959" class="mb-2"> </div>
            <input type="hidden" name="restore_link" value="{{ user_link }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button class="btn btn-accent" type="submit">Сменить пароль</button>

            </form>
        </div>
    </div>

</div>

{% endblock %}