<div class="crm faded">
    <div style="width:335px">
      <div class="mb-3">
        <div id="crm-search-card-result" class="mt-3"></div>
      </div>
    </div>
    <div class="crm__wrapper">
        {% include "product_cards/crm/cards/st1_1.html" %}
        {% include "product_cards/crm/cards/st_1.html" %}
        {% include "product_cards/crm/cards/st_2.html" %}
        {% include "product_cards/crm/cards/st_3.html" %}
        {% include "product_cards/crm/cards/st_4.html" %}
        {% include "product_cards/crm/cards/st_5.html" %}
        {% include "product_cards/crm/cards/st_6.html" %}
        {% include "product_cards/crm/cards/st_7.html" %}
    </div>
</div>
