<div class="crm__col">
  <div class="orders">
    <h2 class="orders__title">
      На модерации <span id="in_moderation_cards_qty">({{ in_moderation_cards|length }})</span>
      <select id="in_moderation_company_select"
          class="form-select form-select-sm mt-2"
          style="width: 210px; display:inline-block;"
          data-bs-toggle="tooltip"
          data-bs-title="Фильтр по компании"
          onchange="pcReloadColumn('in_moderation')">
    <option value="">Все фирмы</option>
    {% for c in companies_pool %}
      <option value="{{ c.id }}">{{ c.inn }} {{ c.title }}</option>
    {% endfor %}
  </select>
      <img src="{{ url_for('static', filename='crm_mod/img/icons/download.svg') }}"
       role="button"
       width="18" height="18"
       class="ms-1 icon-grey-filter"
       data-bs-toggle="tooltip"
       data-bs-title="Скачать на модерации (по фирмам)"
       onclick="pcDownloadCompaniesByStatus('in_moderation')">
    </h2>
    <div style="width:335px"></div>

    <div id="in_moderation_cards_main">
      <div class="orders__list" id="in_moderation_cards_list">
        {% include 'product_cards/crm/cards/updated_stages/_in_moderation_list.html' %}
      </div>
    </div>
  </div>
</div>
