{% if current_user.is_authenticated %}
<div id="notificationTop" style="background-color: #ffd500; color: #333; padding: 15px; text-align: center; font-size: 16px; position: relative; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <p style="margin: 0; font-weight: bold;">Уважаемые клиенты платформы марка сервис!
        Сообщаем, что с 02.11 по 05.11 со стороны Честного Знака будут проводится технические работы.<br>
        <span style="font-size:23px">Вы все равно можете делать заказы на нашем сайте</span>,<br> однако их выполнение будет осуществлено только с 06.11.
        Приносим извинения за возможные неудобства и благодарим за понимание.
        С уважением,
        Команда Маркинерис</p>
    <button type="button" class="btn-close" aria-label="Close" onclick="closeNotification()" style="position: absolute; right: 10px; top: 10px;"></button>
</div>

<script>
// Check sessionStorage to see if the notification has been closed
if (sessionStorage.getItem('notificationClosed')) {
    document.getElementById('notificationTop').style.display = 'none'; // Hide notification if closed
}

// Function to close the notification and set sessionStorage
function closeNotification() {
    sessionStorage.setItem('notificationClosed', 'true'); // Store closed state
    document.getElementById('notificationTop').style.display = 'none'; // Hide notification
}
</script>
{% endif %}
