{% if current_user.is_authenticated and current_user.role== 'admin' and current_user.is_at2%}
<div id="notificationTop" style="background-color: #ffd500; color: #333; padding: 15px; text-align: center; font-size: 16px; position: relative; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <p style="margin: 0; font-weight: bold;">Уважаемые клиенты платформы марка сервис!  Мы понимаем текущие трудности предпринимателей, поэтому даем 10% скидку до их решения.<br>
        В ближайшее время будет важное обновление на нашей платформе, что позволит делать ваши заказы намного быстрее.<br>
        С уважением,
        Команда марка сервис</p>
<button type="button" class="btn-close" aria-label="Close" onclick="closeNotification()" style="position: absolute; right: 10px; top: 10px;"></button>
</div>


<script>
if (sessionStorage.getItem('notificationClosed')) {
    document.getElementById('notificationTop').style.display = 'none';
}

function closeNotification() {
    sessionStorage.setItem('notificationClosed', 'true');
    document.getElementById('notificationTop').style.display = 'none';
}
</script>
{% endif %}
