<!-- templates/login.html -->

{% extends "crm/base_crm.html" %}

{% block preload %}
<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; opacity: 0;"></div>
<div class="col-12 ml-4">
    <div class="top-content d-flex justify-content-between flex-wrap g-5 mb-3">
        <div class="breadcrumbs">
            <a href="{{url_for('crm_d.agents')}}" style="color:grey">CRM </a>
                /
                <span>Просмотр заказа</span>
        </div>
    </div>

</div>
<div class="mt-1 col-12 text-center">
    {%if start_list%}
        <div class="mb-4" id="orders_table">
            <h3>
                Таблица заказа № <span class="text-secondary" style="font-weight: bold">{{ order_idn }} </span>
            </h3>
            <h3 class="text-dark">{{ stage_name }}</h3>
        </div>
        <div class="col no-select"
            oncontextmenu="return false" oncopy="return false" align="left" >
            <div style="float: left;">
                {{ pagination.links }}
            </div>
            <table class="table mt-3 table-result">
              <thead class="text-white bg-dark">
                <tr>
                  <th scope="col">#</th>
                  {% for el in start_list %}
                      <th scope="col" style="font-size:14px">{{ el }}</th>
                  {% endfor %}
                </tr>
              </thead>


              {% if order_list %}
                <tbody>
                  {% for list_el in order_list %}
                    <tr>
                      <th scope="row">{{offset + loop.index}}</th>
                      {% for el in list_el %}
                        <td>
                            {{ el }}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                {% include 'crm_mod_v1/preload/order_pos_count_box.html' %}
                </tbody>
              {% endif %}
            </table>
            <div style="float: left;">
                {{ pagination.links }}
            </div>
        </div>


    {%endif%}

</div>

{% endblock %}