.header {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}
.user-info__btn {
  border-radius: 5px;
  background: #eaeaea;
  padding: 7px 20px;
}
.user-login__dropdown .dropdown-item {
  border-left: 4px solid transparent;
}
.user-login__dropdown .dropdown-item:hover {
  border-left: 4px solid #ffd600;

  background: #e3e3e3;
}
.user-login__dropdown .dropdown-item:active {
  background-color: inherit;
  color: black;
}
.user-login__dropdown .dropdown-menu {
  background: #eaeaea;
  border: none;
}
.partner {
  font-size: 20px;
}
.toast {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.toast-error {
  /*border-left: 5px solid #fed337;*/
  border-left: 5px solid #fe3755;
}
.toast-success {
  border-left: 5px solid #00a958;
}
.toast-warning {
  /*border-left: 5px solid #90d0ff;*/
  border-left: 5px solid #fed337;
}
.label {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background: #f0f0f0;
  color: #575757;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.price {
  max-width: 450px;
}
.price-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  align-self: stretch;
  border-bottom: 1px solid #ffd600;
  padding: 20px 50px;
  background: #fff;
  color: #575757;
  font-size: 16px;
  font-weight: 700;
}
.price-num {
  flex-grow: 1;
}
.price-val {
  width: 60px;
}
@media (max-width: 575.98px) {
  .user-name {
    max-width: 100px;
  }
  .price-item {
    gap: 20px;
  }
}

.input-group-text.range-text {
  width: 180px; /* Adjust as needed for the longest range */
  text-align: center;
}

.input-group-text.price-text {
  width: 180px; /* Adjust as needed for the price fields */
  text-align: center;
  background-color: white;
}