.categories {
    &__list {
        display: flex;
        gap: 8px;
    }
    &__item {
        padding-top: 10px;
        background: #fff;
        width: 90px;
        height: 71px;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.1);
        border-left: 1.84px solid transparent;
        color: inherit;
        &--active {
            border-left: 1.84px solid #ffd600;
        }
        & img {
            width: 37px;
            height: 37px;
            object-fit: contain;
            margin: auto;
        }
    }
    &-item {
        &__text {
            color: #7d7d7d;
        }
    }
}
