.icons {
    display: flex;
    gap: 5px;
    &__wrapper {
        display: flex;
        gap: 25px;
    }
    &__item {
        filter: grayscale(1) opacity(0.2);
        &.active {
            filter: grayscale(0) opacity(1);
        }
    }
}
