<div class="faded mt-3">

    <table class="table mt-3 table-result"  id="transactions_table_info" >
            <thead class="text-dark">
                <tr>
                    <th scope="col">
                        Дата
                    </th>
                    <th scope="col">
                        Пополнения, руб.
                    </th>
                    <th scope="col">
                        Списания, руб.
                    </th>
                    <th scope="col">
                        Статус
                    </th>
                    <th scope="col">
                        Детализация
                    </th>
                </tr>
            </thead>

            <tbody id="order_table_body_info">

            {% for t in transactions_list%}
                <tr>
<!--                    <td class="tablesaw-cell-content">{{ loop.index }}</td>-->
                    <td class="tablesaw-cell-content">

                        {{t.created_at.strftime('%d.%m.%Y %H:%M')}}
                    </td>
                    {%if not is_at2%}
                        <td>
                            {% if t.type %}{{t.amount}}{% endif %}
                        </td>
                        <td>
                            {% if not t.type %}{{t.amount}}{% endif %}
                        </td>
                    {%else%}
                        <td></td><td></td>
                    {% endif %}
                    <td>
                        {{transaction_dict[t.status]}}
                    </td>
                    <td>

                            <button type="button" onclick="bck_transaction_detalization('{{url_for('user_cp.bck_transaction_detail', u_id=u_id, t_id=t.id)}}')"
                                class="btn btn-dark btn-sm btn-watch ms-md-auto">
                                Подробнее
                            </button>


                    </td>


                </tr>

                {% endfor %}
            {% if not is_at2 %}
                <tr>
                    <td>
                        <span class="font-18"><b>Итого</b></span>
                    </td>
                    <td>
                        {{sum_fill}}
                    </td>
                    <td>
                        {{sum_spend}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <span class="font-18"><b>Сальдо</b></span>
                    </td>

                    <td colspan="2">
                        {{sum_fill- sum_spend}}
                    </td>
                </tr>
            {% endif %}
            <tr>
            </tr>
            </tbody>


    </table>
    <div class="pagination-page-info text-center">На этой странице <b>{{ offset + 1 }} - {{ offset + transactions_list|length }}</b> Всего: <b>{{ pagination.total }}</b></div>
    <div class="pagination_section my-1" >
    <div class="d-flex">
        <div class="col-3"></div>
        <div class="col-md-1"></div>
        <div class="col-5" style="margin-left: 3%;">{{ pagination.links }}</div>

    </div>
    </div>

</div>