<div class="form-group">
  <label class="control-label">Пол</label>
  <select class="form-control search-select" id="gender" name="gender" required>
    <option disabled value="" {% if not copied_order or not copied_order.gender %}selected{% endif %}>Выберите пол...</option>
        {% for el in genders %}
            <option value="{{ el }}"
                {% if copied_order and copied_order.gender == el %}
                    selected
                {% endif %}>{{ el }}</option>
        {% endfor %}
    {% if copied_order %}
      <script>
            document.addEventListener('DOMContentLoaded', function () {
                get_genders(`{{ url_for('clothes.bck_clothes_genders', subcategory=subcategory) }}`,
                    `{{ csrf_token() }}`, `{{ subcategory }}`, `{{copied_order.gender}}`);
            });
        </script>
    {% endif %}

  </select>
</div>
