<div class="form-group" onclick="genderClickGuard(event)" onfocus="genderClickGuard(event)" onchange="clear_tnved_input();">
  <label class="control-label">Пол</label>
  <select class="form-control search-select" id="gender" name="gender" required>

    {% if not copied_order %}
        <option disabled selected value="">Выберите пол...</option>
        {% for el in genders %}
            <option value="{{ el }}">{{ el }}</option>
        {% endfor %}
    {% else %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                get_genders(`{{ url_for('clothes.bck_clothes_genders', subcategory=subcategory) }}`,
                    `{{ csrf_token() }}`, `{{ subcategory }}`);
            });
        </script>

    {% endif %}

  </select>
</div>

