<div class="row setup-content faded" id="step-2" {% if not o_id or 'page' in request.url %}style="display:none"{% endif %}>

    <div class="return mb-4">
        <div class="prevBtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none">
                <path
                    d="M10.7071 4.99998L4.20708 11.5H21.5V12.5H4.20708L10.7071 19L9.99995 19.7071L2.29285 12L2.99995 11.2929L10 4.29287L10.7071 4.99998Z"
                    fill="#575757" />
            </svg> Вернуться назад</div>
    </div>
    <div class="row justify-content-end g-3">
        <div class="col-xl-8">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Товарный знак</label>
                        <input type="text" name="trademark" id="trademark" class="form-control"
                               onchange="check_valid(this);" minlength="1" maxlength="50" required
                               title="Вводимое значение не должно превышать 50 знаков"
                            {% if copied_order %}value="{{ copied_order.trademark }}"
                            {% endif %}>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-4 text-right">
                                <div onclick="set_no_tm();"><span class="badge link-secondary font-8" style="font-size: 8px; font-weight:bold; cursor:pointer">БЕЗ ТОВАРНОГО ЗНАКА</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Объем</label>
                        <input type="text" name="volume" id="volume" class="form-control"
                               onchange="check_valid(this);" minlength="3"
                               value="{% if copied_order %}{{ copied_order.volume }}{% endif %}"
                               required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Ед. изм. объема</label>
                        <select class="form-control search-select" id="volume_type" name="volume_type"
                            required>
                            <option disabled selected value="">Выберите из списка..</option>
                            {%for v in volume_types%}
                              <option value="{{v}}" {% if copied_order %}
                                                        {% if copied_order.volume_type == v %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}>{{v}}</option>
                            {%endfor%}

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Тип упаковки</label>
                        <select class="form-control search-select" id="package_type" name="package_type"
                            required>
                            <option disabled selected value="">Выберите из списка..</option>
                            {%for p in package_types%}
                              <option value="{{p}}" {% if copied_order %}
                                                        {% if copied_order.package_type == p %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}>{{p}}</option>
                            {%endfor%}

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Материал упаковки</label>
                        <select class="form-control search-select" id="material_package" name="material_package"
                            required>
                            <option disabled selected value="">Выберите из списка..</option>
                            {%for m in material_packages%}
                              <option value="{{m}}" {% if copied_order %}
                                                        {% if copied_order.material_package == m %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}>{{m}}</option>
                            {%endfor%}

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Тип парфюмерии</label>
                        <select class="form-control search-select" id="type" name="type"
                            onchange="set_tnved();" required>
                            <option disabled selected value="">Выберите из списка..</option>
                            {%for t in types%}
                              <option value="{{t}}" {% if copied_order %}
                                                        {% if copied_order.type == t %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}>{{t}}</option>
                            {%endfor%}

                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% include 'helpers/parfum/parfum_sizes_quantity.html' %}
                </div>
                <div class="col-md-4">
                    {% include 'helpers/countries_block_v2.html' %}
                </div>
                <div class="col-md-4">
                    {% include 'helpers/tnved_code_block_v2.html' %}
                </div>

                <div class="col-md-4">
                    {% include 'helpers/article_price_rd_box_v2.html' %}
                </div>

                <div class="col-md-4" hidden>
                    <div id="in_box_block">
                        <input type="hidden" min="1" step="1" id="with_packages" name="with_packages" value={{ with_packages }}>
                        {% if with_packages %}
                            <div class="col-xs-12 text-center mt-3 ">
                                <label><h4>В коробке</h4></label>
                            </div>
                            <div class="col-xs-12">
                                <input type="number" id="parfum_in_box" class="form-control ms-1"  disabled>

                            </div>
                        {% endif %}
                    </div>
                </div>


            </div>


        </div>
        <div class=" col-md-6 col-xl-4">
            <div class="important-card text-light">

                <div class="important-card__item">
                    <div class="important-card__prop">
                        Количество строк в накладной (максимально 1600 строк)
                    </div>
                    <div class="important-card__val" value="300" id="orders_row_count">
                        {%if pos_count %}{{pos_count}}{%else%}0{%endif%}
                    </div>
                </div>
                <div class="important-card__item">
                    <div class="important-card__prop">
                        Общее количество по накладной
                    </div>
                    <div class="important-card__val" id="orders_pos_count">
                        {%if orders_pos_count %}{{orders_pos_count}}{%else%}0{%endif%}
                    </div>
                </div>
                <div class="important-card__item">
                    <div class="important-card__prop">
                        Сумма по накладной
                    </div>
                    <div class="important-card__val" id="orders_total_price">
                        {%if total_price %}{{total_price}}{%else%}Не указано{%endif%}
                    </div>
                </div>
                <div class="important-card__item" hidden>
                    <div class="important-card__prop">
                        В коробке
                    </div>
                    <div class="important-card__val" id="parfum_in_box_info"></div>
                </div>
                <div class="step-btns mt-4 d-flex flex-wrap justify-content-center">
                    <button class="btn btn-sm btn-accent border-0 text-dark"
                            onclick="parfum_perform_pos_add({% if not o_id or edit_order == 'edit_order' %}0{%else%}1, '{{ url_for(category_process_name + '.preprocess_order', o_id=o_id)}}'{%endif%}); "
                        type="button">{%if edit_order == 'edit_order'%}Изменить{%else%}Добавить этот{%endif%} товар</button>
                </div>
            </div>
            <button class="btn btn-accent border-0 text-dark mt-1" style="width: 100%;"
                        onclick="document.getElementById('btn-step-3').click();"
                        type="button">Оформить заказ</button>
        </div>
    </div>
</div>

{% include 'helpers/modal_tnved_common.html' %}