<div class="mx-3 faded">

    {% include "crm/helpers/search_crm_order_bar.html" %}

    {% include 'crm/filter_managers.html' %}
    <div class="d-flex flex-row flex-nowrap">

        {% include "crm/crmm/crmm_1.html" %}
        {% include "crm/crmm/crmm_2.html" %}
        {% include "crm/crmm/crmm_3.html" %}
        {% include "crm/crmm/crmm_4.html" %}
        {% include "crm/crmm/crmm_5.html" %}
        {% include "crm/crmm/crmm_6.html" %}

    </div>
</div>
<script>
    var update_managers_url = "{{url_for('crm_d.managers', bck=1)}}";
    var managers_list = [{% for m in managers_list %}['{{m[0]}}','{{m[1]}}'], {% endfor %}];
    var OF_MAX_SIZE = {{ of_max_size }};
    var SEARCH_ORDER_URL = "{{search_order_url}}";
    var delta_timer_color = {{ problem_order_time_limit }};
</script>