
<div style="min-width: 260px;max-width: 260px;" class="mr-3">
        <div class="border-sp-10-right pr-3">
          <h4><span class="badge badge-warning">Новый заказ</span></h4>
          <h4><span class="badge badge-warning">{%if pool_orders%}{{pool_orders | length}} шт.{%endif%}</span></h4>
          {% for n in pool_orders %}

              <div class="card mt-3 mb-3 custom-rounded border-secondary{% if n.to_delete %} div-disabled {%endif%}">
                <div class="card-header bg-warning text-center">
                    <h5 class="card-text ">
                        <a data-toggle="collapse"
                           href="#collapseOrder1_{{ loop.index }}" role="button"
                           aria-expanded="false"
                           class="btn btn-sm btn-outline-dark btn-block">
                            {% include 'crm/crmm/order_category.html' %}
                        </a>
                    </h5>
                    <h6 class="card-text" title="Время поступления заказа в систему">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                          <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                        </svg>
                        <b>{{ n.crm_created_at.strftime('%Y-%m-%d %H:%M:%S') }}</b>
                    </h6>
                    <h6 class="card-text" title="Время поступления заказа в пул фирмы">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                        </svg>
                        <b>{%if n.p_started %}{{n.p_started.strftime('%Y-%m-%d %H:%M:%S')}}{%else%}{{n.crm_created_at.strftime('%Y-%m-%d %H:%M:%S')}}{%endif%}</b>
                    </h6>
                </div>

                <div class="card-body">
                    <div class="collapse mb-1" id="collapseOrder1_{{ loop.index }}">
                        {% include 'crm/crmm/order_description.html' %}
                    </div>
                    <div class="mb-1">
                        <div class="row">

                            {%include 'crm/helpers/table_download.html'%}

                            <div class="col-6">
                                <form method="post" action="{{ url_for('crm_d.m_take_order', o_id=n.id) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="btn btn-sm btn-outline-info btn-block"
                                             title="Принять заказ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="mt-1">
                        <button class="btn btn-sm btn-block bg-warning" readonly>
                            КС: <b>{{ n.row_count }}</b>    КМ: <b>{{ n.pos_count }}</b>
                            {% if n.declar_doc%}РД <b>{{ n.declar_doc }}</b>{% endif %}
                        </button>

                    </div>
                    {% include 'crm/special_alerts.html' %}
                </div>

              </div>



          {% endfor %}
        </div>
</div>







