<div class="card card-body border text-center text-dark">
    <h6 class="card-title mb-3">Номер заказа <b>{{ n.order_idn }}</b></h6>
    <h6 class="card-title mb-3">Категория <b>{{ n.category }}</b></h6>

    <h6 class="card-title mb-1 beautiful-font">{{ n.company_type }} {{ n.company_name }}</h6>
    <h6 class="card-title mb-3 beautiful-font"><b>{{ n.company_idn }}</b></h6>
    <h6 class="card-title mb-3 beautiful-font">Логин <br><b>{{ n.login_name }}</b></h6>
    <h6 class="card-title mb-1 beautiful-font">Тип этикетки<br> <b>{{ n.mark_type }}</b></h6>

    <!-- Separators -->
    <div class="separator mt-3">
        <span class="separator-text">*******************</span>
    </div>

    <!-- Additional Information -->
    <h6 class="card-title mb-1">ЭДО-ЛАЙТ</h6>

    <!-- Separators -->
    <div class="separator mb-3">
        <span class="separator-text">*******************</span>
    </div>
</div>
