{%extends 'index/base_index.html'%}

{% block index %}

    <div class="overflow-hidden-x">

        <!-- Start features -->
        <section class="section feature" id="features">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mb-5">
                            <h1 class="heading text-uppercase">Политика обработки персональных данных</h1>
                        </div>
                    </div><!-- end col-->
                    <div class="col-12">
                        <p><strong>Политика обработки персональных данных</strong></p>
                        <p>&nbsp;</p>
                        <p>Настоящая Политика обработки персональных данных описывает, как мы, компания ИП Каргаполов
                            Сергей Сергеевич, осуществляем сбор, хранение, использование и защиту персональных данных
                            пользователей, посещающих наш сайт и использующих наши услуги, связанные с автоматизацией
                            маркировки товаров через систему &ldquo;Честный знак&rdquo;. Мы стремимся обеспечить
                            конфиденциальность и безопасность персональной информации наших пользователей в соответствии
                            с требованиями законодательства Российской Федерации в области защиты персональных данных.
                        </p>
                        <p>&nbsp;</p>
                        <p><strong>1. Собираемые персональные данные</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы можем собирать следующие персональные данные пользователей:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>ФИО</strong> (для физических
                            лиц);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Наименование
                                компании</strong> (для юридических лиц);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Контактные данные</strong>:
                            телефон, электронная почта;</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Адрес доставки</strong> (если
                            применимо);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Информация о товаре</strong>
                            (связана с процессом маркировки, если применимо);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Данные о посещении
                                сайта</strong>: IP-адрес, информация о браузере, операционной системе, данные о
                            посещённых страницах, время нахождения на сайте и т. д. (собираются автоматически с
                            использованием файлов cookie и других технологий отслеживания).</p>
                        <p>&nbsp;</p>
                        <p><strong>2. Цели обработки персональных данных</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы обрабатываем персональные данные для следующих целей:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Обработка заказов и предоставление
                            услуг, включая автоматизацию маркировки товаров через систему &ldquo;Честный знак&rdquo;;
                        </p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Обеспечение связи с пользователями,
                            включая ответы на запросы, уведомления и информационные рассылки;</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Улучшение качества предоставляемых
                            услуг, анализ предпочтений пользователей и развитие функционала сайта;</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Выполнение обязательств по договорам
                            и юридическим требованиям (например, в случае необходимости предоставления информации в
                            рамках законодательства по маркировке товаров);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Предотвращение мошенничества и
                            обеспечение безопасности пользователей и наших систем.</p>
                        <p>&nbsp;</p>
                        <p><strong>3. Основания для обработки персональных данных</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы обрабатываем персональные данные пользователей на основании следующих оснований:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Согласие
                                пользователя</strong>: когда пользователь предоставляет свои персональные данные,
                            заполняя формы на сайте или осуществляя регистрацию на платформе.</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Исполнение договора</strong>:
                            обработка данных необходима для выполнения договорных обязательств (например, для выполнения
                            услуг по автоматизации маркировки товаров).</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Законодательные
                                обязательства</strong>: обработка данных, требуемая для соблюдения действующего
                            законодательства Российской Федерации, включая законы о маркировке товаров и борьбе с
                            контрафактом.</p>
                        <p>&nbsp;</p>
                        <p><strong>4. Передача персональных данных третьим лицам</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы не передаём персональные данные третьим лицам, за исключением следующих случаев:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Сторонние сервисы и
                                партнёры</strong>: в случае необходимости передачи данных для выполнения обязательств
                            перед пользователями (например, транспортные компании для доставки товаров).</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Юридические
                                требования</strong>: в случае запроса уполномоченных органов или в рамках исполнения
                            обязательств перед государственными органами (например, для обеспечения соблюдения
                            законодательства по маркировке товаров).</p>
                        <p>&nbsp;</p>
                        <p><strong>5. Защита персональных данных</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы принимаем все необходимые организационные и технические меры для защиты персональных
                            данных от несанкционированного доступа, изменения, раскрытия или уничтожения. Это включает в
                            себя:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Использование защищённых каналов
                            связи (например, SSL-сертификаты для шифрования данных);</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; Регулярные аудиты и обновления систем
                            безопасности.</p>
                        <p>&nbsp;</p>
                        <p><strong>6. Права пользователей</strong></p>
                        <p>&nbsp;</p>
                        <p>Пользователи имеют следующие права в отношении своих персональных данных:</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Право на доступ</strong>: вы
                            имеете право запросить информацию о том, какие персональные данные мы о вас храним.</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Право на
                                исправление</strong>: вы можете обновить или изменить свои персональные данные, если они
                            оказываются неточными или неполными.</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Право на удаление</strong>:
                            вы можете запросить удаление ваших персональных данных, если это не противоречит нашим
                            юридическим обязательствам.</p>
                        <p><span class="Apple-converted-space">&nbsp;</span>&bull; <strong>Право на ограничение
                                обработки</strong>: вы можете ограничить использование ваших данных в определённых
                            случаях (например, если вы оспариваете их точность).</p>
                        <p>&bull; <strong>Право на переносимость данных</strong>: в некоторых случаях вы можете получить
                            копию своих данных в структурированном формате.</p>
                        <p>&nbsp;</p>
                        <p>Для реализации своих прав, пожалуйста, свяжитесь с нами через контактные данные, указанные на
                            нашем сайте.</p>
                        <p>&nbsp;</p>
                        <p><strong>7. Использование файлов cookie</strong></p>
                        <p>&nbsp;</p>
                        <p>Наш сайт может использовать файлы cookie для улучшения пользовательского опыта. Файлы cookie
                            &mdash; это небольшие текстовые файлы, которые сохраняются на вашем устройстве и
                            используются для сбора информации о вашем поведении на сайте. Вы можете настроить браузер
                            таким образом, чтобы отказать от использования cookie, однако это может повлиять на
                            функциональность сайта.</p>
                        <p>&nbsp;</p>
                        <p><strong>8. Изменения в Политике</strong></p>
                        <p>&nbsp;</p>
                        <p>Мы оставляем за собой право вносить изменения в настоящую Политику. Все изменения будут
                            публиковаться на этой странице с указанием даты последнего обновления.</p>
                    </div>
                </div><!-- end row-->

            </div><!-- end container -->
        </section>
        <!-- end Features -->


    </div>


    <!-- FOOTER-ALT -->
    <div class="footer-alt pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">

                </div>
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-white fs-15">©
                            <script>document.write(new Date().getFullYear())</script>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER-ALT -->


{% endblock %}