.search {
    background: url('/images/hand.png');
    background-repeat: no-repeat;
    background-position:0% bottom;
    background-size: 30%;
    @media (min-width: 1200px) {
        background-position: 10% center;
    }
    @media (max-width: 576px) {
        background-size: 60%;
        background-position: 150% 70%;
    }

    .search-wrapper {
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    &-form {
        position: relative;
        padding: 25px 30px;
        border: none;
        background: #F9F9F9;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        flex-grow: 0;
        flex-shrink: 1;
        &:focus {
            outline: none;
        }
        &::placeholder  {
            @media (max-width: 576px) {
                font-size: 12px;
            }   
        }
        @media (max-width: 576px) {
            padding: 15px 20px;
        }   
    }    
    &-btn {
        flex-grow: 1;
        flex-shrink: 0;
        width: 5vw;
        max-width: 100px;
        min-width: 70px;
        border: none;
        background-color: #F6EC4E;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
            @media (max-width: 576px) {
                width: 26px;
                height: auto;
            }
        }
    }
    &-result {
        position: relative;
        top: 20px;
        background: #F9F9F9;
        // padding: 25px 30px;
        font-size: 16px;
        color: #585B5F;
        // opacity: 0;
    }
    &-whatsapp {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 120px;
    }
}
.highlight {
    font-weight: bold;
}
.result {
    display: flex;
    padding: 30px 40px;
    @media (max-width: 576px) {
        flex-direction: column;
        padding: 20px 30px;
    }   
    
    &-code {
      min-width: 130px;
      @media (max-width: 576px) {
        margin-bottom: 10px;
    }   
    }
    &-name {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        margin-right: 20px;
        @media (max-width: 576px) {
            margin-right: 10px;
        }   
    }
    & img{
      max-width: 26px;
    }
    &:not(:last-child){
        border-bottom: #EAEAEA 1px solid;
    }
}