:root {
  --grey: #e1e1e1;
  --light-grey: #ededed;
  --dark: #737373;
  --light-dark: #bdbdbd;
  --black: #474747;
  --light-black: #575757;
  --blue: #17a2b8;
  --green: #70e273;
  --pink: #feaec9;
  --warning: #ffac0a;
}
