<div class="card-header bg-info text-center text-white mt-3"><h3 class="mt-3">Добавить менеджеров CRM (операторы фирмы)</h3></div>
<form method="post" action="{{ url_for('crm_uoc.create_manager')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row text-center mt-3">
            <div class="col-md-2 text-left"></div>
            <div class="col-md-3 col-xs-12 text-right">
                <label><font size="5">Логин Менеджера</font></label>
            </div>
            <div class="col-md-3 col-xs-12 text-left">
                <input type="text" name="manager_login_name" class="form-control"
                           placeholder="Введите логин менеджера" required minlength="3" maxlength="10"
                       title="Только латинские буквы и цифры. Сервер добавит префикс manager_ к вашему логину"
                       pattern="[a-z0-9]+" oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9]/g, '')"
                       value="">

            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-md-2 text-left"></div>
            <div class="col-md-3 col-xs-12 text-right">
                <label for="manager_password"><font size="5">Пароль менеджера</font></label>
            </div>
            <div class="col-md-3 col-xs-12 text-left">
                    <input type="text" id="manager_password" name="manager_password" class="form-control"
                           minlength="6" maxlength="12"
                       placeholder="Введите пароль менеджера" required>
            </div>

            <div class="col-md-3 col-xs-12 text-left">
                    <button type="button"
                            onclick='document.getElementById("manager_password").value = Password.generate(8)'
                            class="btn btn-info btn-sm">Сгенерировать пароль</button>
            </div>
        </div>

        <div class="col text-center">

            <button class="btn btn-sm btn-secondary mt-3 mb-2" type="submit">
                <font size="2">+Добавить менеджера</font>
            </button>
        </div>
    </form>
<div class="row text-center">

        {% if managers_list %}
                <div class="col" align="left">
                    <table class="table table-hover table-bordered mt-1">
                      <thead class="thead-dark">
                        <tr>
                          <th>#</th>
                          <th>Логин</th>
                          <th>Роль</th>
                          <th>Статус</th>
                          <th>Контроль менеджера</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        {%for u in managers_list%}

                            <tr>
                              <th scope="row">{{loop.index}}</th>

                              <td>
                                  {{u.login_name}}<br>{{u.email}}
                              </td>
                              <td>
                                  <h6>
                                      <span class="badge bg-{% if u.role=='manager' %}secondary{% else %}warning{% endif %}">
                                          {{u.role}}
                                      </span>
                                  {% if u.role == 'manager' %}
                                      <form method="post" action="{{url_for('crm_uoc.set_supermanager', u_id=u.id)}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input class="btn btn-sm btn-outline-warning btn-outline"
                                                 title="Поменять статус на суперменеджер"
                                                 type="submit" name="activate"
                                                 onclick="loadingCircle()" value="Сделать суперменеджером"
                                            {% if current_user.role != 'superuser' %} disabled{% endif %}>
                                      </form>
                                  {% else %}
                                      <form method="post" action="{{url_for('crm_uoc.set_manager', u_id=u.id)}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input class="btn btn-sm btn-outline-secondary btn-outline"
                                                   title="Поменять статус на обычный менеджер"
                                                   type="submit" name="activate" value="Сделать менеджером"
                                                   onclick="loadingCircle()"
                                                {% if current_user.role != 'superuser' %} disabled{% endif %}>
                                      </form>
                                  {% endif %}
                                  </h6>
                              </td>

                              <td>
                                  {% if u.status %}
                                      <span class="badge bg-success">Активирован</span>
                                  {% else %}
                                      <span class="badge bg-danger">Не активирован</span>
                                  {% endif %}
                              </td>
                              <td>

                                  {% if not u.status %}
                                      <form method="post" action="{{url_for('crm_uoc.activate_manager', u_id=u.id)}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input class="btn btn-sm btn-outline-success btn-outline"
                                                   type="submit" name="activate" title="Активировать менеджера"
                                                   onclick="loadingCircle()" value="Активировать">
                                      </form>
                                  {% else %}
                                      <form method="post" action="{{url_for('crm_uoc.deactivate_manager', u_id=u.id)}}">
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                          <input class="btn btn-sm btn-outline-danger btn-outline"
                                                 title="Деактивировать менеджера"
                                                 type="submit" name="activate" value="Деактивировать"
                                                 onclick="loadingCircle()"
                                                  {% if u.role == 'superuser' or u.role == 'supermanager' %}disabled{% endif %}>
                                      </form>
                                  {% endif %}
                              </td>
                              <td>
                                  <form method="post" action="{{ url_for('crm_uoc.delete_manager', u_id=u.id)}}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input class="btn btn-sm btn-outline-danger btn-outline"
                                             onclick="loadingCircle()" title="Удалить менеджера"
                                             type="submit" name="delete" value="&times;"
                                        {% if u.role == 'superuser' or u.role == 'supermanager' %}disabled{% endif %}>
                                  </form>
                              </td>

                            </tr>
                        {%endfor%}

                      </tbody>
                    </table>
                </div>

    {% endif %}

</div>