
    {% if n.category == 'обувь' %}
        <div class="order__img order__img--green" data-bs-toggle="tooltip" style="user-select: none;"
                            data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/02.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'одежда' %}
          {% set sub_icon_map = {
              'underwear': 'underwear.svg',
              'swimming_accessories': 'swimming_accessories.svg'
              }
          %}
          {% if n.subcategory in sub_icon_map %}
                <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                     data-bs-placement="top" data-bs-title="{{ subcategories_dict[n.subcategory] }}">
                    <img src="{{ url_for('static', filename='crm_mod/img/icons/' + sub_icon_map[n.subcategory]) }}" alt="" class="img-fluid">
                </div>
            {% else %}
                <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                                data-bs-placement="top" data-bs-title="{{n.category}}">
                    <img src="{{ url_for('static', filename='crm_mod/img/icons/01.svg')}}" alt="" class="img-fluid">
                </div>
            {% endif %}
    {% elif n.category == 'носки и прочее' %}
        <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/socks.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'белье' %}
        <div class="order__img order__img--blue" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/03.svg')}}" alt="" class="img-fluid">
        </div>
    {% elif n.category == 'парфюм' %}
        <div class="order__img order__img--pink" data-bs-toggle="tooltip" style="user-select: none;"
                        data-bs-placement="top" data-bs-title="{{n.category}}">
            <img src="{{ url_for('static', filename='crm_mod/img/icons/04.svg')}}" alt="" class="img-fluid">
        </div>
    {% endif %}
