<div class="modal fade" id="manualTnvedModal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="manualTnvedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">
              Выберите тнвэд из списка! Список сформирован по типу одежды!
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="mTMCloseButton"
                  onclick="clear_manual_tnved()" aria-label="Close">
          </button>

      </div>
      <div class="modal-body text-justify">

          <div id="manual_tnved_insert"></div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-accent" onclick="clear_manual_tnved();" data-bs-dismiss="modal">Закрыть</button>

      </div>
    </div>
  </div>
</div>