{% extends "crm_mod_v1/base_crm.html" %}

{% block crm_dashboard %}

<div id="update_all_info">
    {% include 'crm_mod_v1/crmm/crmm_main_block.html'%}
</div>

<div class="modal fade" id="problem_orderModal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="problem_orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="problem_orderModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div id="order_problem_block">

      </div>


    </div>
  </div>
</div>

<div class="modal fade" id="change_operatorModal" tabindex="-1" data-backdrop="static" role="dialog"
     aria-labelledby="change_operatorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="change_operatorModalLabel">
          </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="clear_change_operator()"
                aria-label="Закрыть">
        </button>
      </div>
      <div id="change_operator_block"></div>
    </div>
  </div>
</div>


<div class="modal fade" id="attach_linkModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="attach_linkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
          <h5 class="modal-title" id="attach_linkModalLabel">
          </h5>
        <button type="button" class="close" data-dismiss="modal" onclick="clear_attach_link()"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
          <div id="attach_link_block"></div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-sm btn-secondary"  onclick="clear_attach_link()" data-dismiss="modal">Отмена</button>
        <button class="btn btn-sm btn-info mt-1" type="submit" onclick="isValid = document.getElementById('attach_link_form').reportValidity();if(isValid){document.getElementById('attach_link_form').submit()}">Прикрепить ссылку</button>

      </div>
    </div>
  </div>
</div>



{% endblock %}