<div style="min-width: 260px;max-width: 260px;" class="mr-2">
        <div class="pr-3">
          <h4><span class="badge badge-secondary mb-1">В обработке у менеджера</span></h4>
          <h4><span class="badge badge-secondary mb-1">{%if m_start_orders%}{{m_start_orders | length}} шт.{%endif%}</span></h4>
          {% for n in m_start_orders %}

              <div class="card mt-3 mb-3 custom-rounded border-secondary{% if n.to_delete %} div-disabled {%endif%}">
                <div class="card-header bg-secondary text-center text-white">
                    <h5 class="card-text">
                        <a data-toggle="collapse"
                           href="#collapseOrder3_{{ loop.index }}" role="button"
                           aria-expanded="false"
                           class="btn btn-sm btn-outline-warning btn-block">
                            {% include 'crm/crma/order_category.html' %}
                        </a>
                    </h5>
                    {% include 'crm/crma/order_payment.html' %}
                    <h6 class="card-text" title="Время поступления заказа в систему">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                          <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                        </svg>
                        <b>{{ n.crm_created_at.strftime('%Y-%m-%d %H:%M:%S') }}</b>
                    </h6>
                    <h6 class="card-text" title="Время старта работы менеджера с заказом">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>

                        <b>{{ n.m_started.strftime('%Y-%m-%d %H:%M:%S') }}</b>
                    </h6>
                </div>

                <div class="card-body">
                    <div class="collapse mb-1" id="collapseOrder3_{{ loop.index }}">
                        {% include 'crm/crma/order_description.html' %}
                    </div>
                    <div class="mb-1">
                        {% include 'crm/helpers/crma_download_preload.html' %}
                        <button class="btn btn-sm btn-outline-info btn-block mt-1" title="Менеджер заказа" readonly>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                              <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                              <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg> <b>{{ n.manager }}</b>&nbsp;
                        </button>
                    </div>

                    <div class="mt-1">
                        <button class="btn btn-sm btn-light btn-block" readonly>
                            КС: <b>{{ n.row_count }}</b>    КМ: <b>{{ n.pos_count }}</b>
                            {% if n.declar_doc%}РД <b>{{ n.declar_doc }}</b>{% endif %}
                        </button>
                    </div>


                    {% include 'crm/special_alerts.html' %}
                </div>

              </div>



          {% endfor %}
        </div>
</div>







