<div class="mx-3 faded">

    {% include "crm/helpers/search_crm_order_bar.html" %}

    <div class="d-flex flex-row flex-nowrap">

        {% include "crm/crma/crma_1.html" %}
        {% include "crm/crma/crma_2.html" %}
        {% include "crm/crma/crma_3.html" %}
        {% include "crm/crma/crma_4.html" %}
        {% include "crm/crma/crma_5.html" %}
        {% include "crm/crma/crma_6.html" %}
        {% include "crm/crma/crma_7.html" %}
        {% include "crm/crma/crma_8.html" %}
        {% include "crm/crma/crma_9.html" %}
        {% include "crm/crma/crma_10.html" %}

    </div>

</div>

<script>
    var update_agents_url = "{{url_for('crm_d.agents', bck=1)}}";
    var SEARCH_ORDER_URL = "{{search_order_url}}";
    var delta_timer_color = {{ problem_order_time_limit }};
    // window.onload = setTimeout(function() {update_crm_info(update_agents_url);}, 5000);
</script>