{% if category_orders %}
<style>

    </style>
    <div class="tab-pane faded show active" id="pills-{{categories_dict[category]}} {{ subcategories_dict.get('subcategory') if subcategories_dict.get('subcategory') else '' }}" >
        <div class="row  position-relative ">
            <div class="col-xs-12">
                <div class="col-md-12 mt-3">
                    <table class="table mt-3 table-result tablesaw-stack" data-tablesaw-mode="stack"
                        id="table-orders">
                        <thead class="text-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="font-12">Номер&nbsp;заказа</th>
                                <th scope="col" class="font-12">Компания</th>
                                <th scope="col" class="font-12">ИНН</th>
                                <th scope="col" class="font-12">Комментарий к заказу</th>
                                <th scope="col" class="font-12">Время оформления заказа</th>
                                <th scope="col" class="font-12">Организация и УПД</th>
                                <th scope="col" class="font-12">Статус заказа</th>
{#                                {% if not user.is_at2 %}<th scope="col" class="font-12">Оплата</th>{% endif %}#}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for s in category_orders %}
                                <tr>
                                    <td>
                                        <span class="tablesaw-cell-content">{{offset + loop.index}}</span>
                                    </td>
                                    <td>
                                        <b>{{s.order_idn}}</b>
                                    </td>
                                    <td>
                                        {{ s.company_type }} {{ s.company_name }}
                                    </td>
                                    <td>
                                        {{s.company_idn}}
                                    </td>
                                    <td>
                                        {% if s.user_comment %}
                                            <div class="alert alert-warning" style="width:150px; word-wrap: break-word; white-space: normal;">
                                                {{ s.user_comment }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{s.crm_created_at.strftime('%d.%m.%Y %H:%M:%S')}}
                                    </td>
                                    <td>
                                        {% if s.processing_info %}
                                            <div class="badge-warning-custom" style="font-size: 14px">
                                                {{ s.processing_info | safe }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div>{{stages_description[s.stage][1]}}</div>
                                            {% if s.stage in [8, 11]%}
                                                <h4 class="mx-2 blink-badge">&#8594;</h4>
                                                {%if not s.file_link%}
                                                    <div class="btn-table me-2"
                                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Обязательно примите УПД на свою организацию на сайте Честного Знака!">

                                                        <span style="cursor:pointer" title="Скачать объединенный файл заказа"
                                                              onclick="download_with_js_order_pdf(`{{ url_for('orders_archive.download_opdf_common', o_id=s.id, category=s.category) }}`, '{{csrf_token()}}')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                              <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <form method="post" class="btn-table me-2" action="{{url_for('orders_archive.download_oa', o_id=s.id, category=s.category)}}"
                                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Обязательно примите УПД на свою организацию на сайте Честного Знака!">
                                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                      <span title="Скачать архив заказа"
                                                             type="submit" name="download archive"
                                                             onclick="this.parentNode.submit();">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                                                          <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                                                          <path d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0"/>
                                                        </svg>
                                                      </span>
                                                    </form>
                                                {% else %}
                                                    <div class="btn-table" data-bs-toggle="tooltip" data-bs-placement="top" title="Обязательно примите УПД на свою организацию на сайте Честного Знака!">
                                                      <span title="Скачать архив заказа по ссылке" type="button"
                                                          onclick="window.open('{{ s.file_link }}', '_blank');">
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                                                              <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                                                              <path d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0"/>
                                                          </svg>
                                                      </span>
                                                   </div>
                                                {% endif %}

                                            {%endif%}
                                            </div>

                                    </td>

{#                                    {% if not user.is_at2 %}#}
{#                                        <td>#}
{#                                            {% if s.payment %}Оплачен{% else %}Не оплачен{% endif %}#}
{#                                        </td>#}
{#                                    {% endif %}#}
                                    <td class="text-end actions">
                                        <a class="btn btn-dark btn-sm btn-watch  ms-md-auto"
                                           href="{{ url_for(categories_dict[category] +'.preload', o_id=s.id, stage=s.stage) }}" title="Просмотреть заказ"
                                            >Просмотреть</a>

                                        <div class="row g-3 justify-content-end">

                                            <form method="post" class="btn-table me-2" action="{{url_for('orders_archive.copy_order', o_id=s.id, category=s.category)}}">
                                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                              <span title="Скопировать заказ для редактирования"
                                                     type="submit" name="copy"
                                                     onclick="loadingCircle(); this.parentNode.submit()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M9 3.25C5.82436 3.25 3.25 5.82436 3.25 9V16.1069C3.25 16.5211 3.58579 16.8569 4 16.8569C4.41421 16.8569 4.75 16.5211 4.75 16.1069V9C4.75 6.65279 6.65279 4.75 9 4.75H16.0129C16.4271 4.75 16.7629 4.41421 16.7629 4C16.7629 3.58579 16.4271 3.25 16.0129 3.25H9Z"
                                                        fill="#8F8F8F" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M18.4026 6.79327C15.1616 6.43105 11.8384 6.43105 8.59748 6.79327C7.6742 6.89646 6.93227 7.62305 6.82344 8.55349C6.43906 11.84 6.43906 15.16 6.82344 18.4465C6.93227 19.377 7.6742 20.1035 8.59748 20.2067C11.8384 20.569 15.1616 20.569 18.4026 20.2067C19.3258 20.1035 20.0678 19.377 20.1766 18.4465C20.561 15.16 20.561 11.84 20.1766 8.55349C20.0678 7.62305 19.3258 6.89646 18.4026 6.79327ZM8.76409 8.28399C11.8943 7.93414 15.1057 7.93414 18.2359 8.28399C18.4733 8.31051 18.6599 8.49822 18.6867 8.72774C19.0576 11.8984 19.0576 15.1016 18.6867 18.2723C18.6599 18.5018 18.4733 18.6895 18.2359 18.716C15.1057 19.0659 11.8943 19.0659 8.76409 18.716C8.52674 18.6895 8.34013 18.5018 8.31329 18.2723C7.94245 15.1016 7.94245 11.8984 8.31329 8.72774C8.34013 8.49822 8.52674 8.31051 8.76409 8.28399Z"
                                                        fill="#8F8F8F" />
                                                </svg>
                                              </span>
                                            </form>

                                            {%if not current_user.is_at2%}
                                                <form method="post" class="btn-table me-2" id="delete_archive_order_{{ s.id }}"
                                                          title="Удалить заказ" action="{{url_for('orders_archive.delete_order', o_id=s.id, stage=s.stage, category=category)}}">
                                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                      <span style="cursor:pointer;"
                                                         onclick="javascript:delete_archive_order({{ s.id }}, '{{ s.order_idn }}');">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                            height="24" viewBox="0 0 24 24" fill="none">
                                                            <path
                                                                d="M10.1001 2.25C9.68589 2.25 9.3501 2.58579 9.3501 3V3.75H5.1001C4.68589 3.75 4.3501 4.08579 4.3501 4.5C4.3501 4.91421 4.68589 5.25 5.1001 5.25H19.1001C19.5143 5.25 19.8501 4.91421 19.8501 4.5C19.8501 4.08579 19.5143 3.75 19.1001 3.75H14.8501V3C14.8501 2.58579 14.5143 2.25 14.1001 2.25H10.1001Z"
                                                                fill="#7C7C7C" />
                                                            <path
                                                                d="M10.1001 10.65C10.5143 10.65 10.8501 10.9858 10.8501 11.4V18.4C10.8501 18.8142 10.5143 19.15 10.1001 19.15C9.68589 19.15 9.3501 18.8142 9.3501 18.4V11.4C9.3501 10.9858 9.68589 10.65 10.1001 10.65Z"
                                                                fill="#7C7C7C" />
                                                            <path
                                                                d="M14.8501 11.4C14.8501 10.9858 14.5143 10.65 14.1001 10.65C13.6859 10.65 13.3501 10.9858 13.3501 11.4V18.4C13.3501 18.8142 13.6859 19.15 14.1001 19.15C14.5143 19.15 14.8501 18.8142 14.8501 18.4V11.4Z"
                                                                fill="#7C7C7C" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M6.0914 7.91718C6.13361 7.53735 6.45466 7.25 6.83682 7.25H17.3632C17.7453 7.25 18.0664 7.53735 18.1086 7.91718L18.3087 9.71852C18.6715 12.9838 18.6715 16.2793 18.3087 19.5446L18.289 19.722C18.145 21.0181 17.1404 22.0517 15.8489 22.2325C13.3618 22.5807 10.8382 22.5807 8.35106 22.2325C7.05952 22.0517 6.05498 21.0181 5.91096 19.722L5.89126 19.5446C5.52844 16.2793 5.52844 12.9838 5.89126 9.71852L6.0914 7.91718ZM7.5081 8.75L7.38208 9.88417C7.0315 13.0394 7.0315 16.2238 7.38208 19.379L7.40178 19.5563C7.47009 20.171 7.9465 20.6612 8.55903 20.747C10.9082 21.0758 13.2918 21.0758 15.6409 20.747C16.2535 20.6612 16.7299 20.171 16.7982 19.5563L16.8179 19.379C17.1685 16.2238 17.1685 13.0394 16.8179 9.88417L16.6919 8.75H7.5081Z"
                                                                fill="#7C7C7C" />
                                                        </svg>
                                                      </span>
                                                </form>
                                            {% endif %}

                                        </div>

                                    </td>


                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>


                    <div class="pagination-page-info text-center">На этой странице <b>{{ offset + 1 }} - {{ offset + category_orders|length }}</b> Всего: <b>{{ pagination.total }}</b></div>

                    <div class="pagination_section my-1" >

                        <div class="d-flex">
                            <div class="col-3"></div>
                            <div class="col-md-2"></div>
                            <div class="col-5" style="margin-left: 3%;">{{ pagination.links }}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endif %}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>-->