VERIFY_NOTIFICATION_BOT_API_TOKEN=

TELEGRAM_PROXY=
TELEGRAM_REQUEST_TIMEOUT_SEC=90
TELEGRAM_POLLING_TIMEOUT_SEC=30
TELEGRAM_STARTUP_RETRIES=5
TELEGRAM_STARTUP_RETRY_DELAY_SEC=3.0
TELEGRAM_BACKOFF_MIN_DELAY_SEC=1.0
TELEGRAM_BACKOFF_MAX_DELAY_SEC=30.0
TELEGRAM_BACKOFF_FACTOR=1.5
TELEGRAM_BACKOFF_JITTER=0.2
TELEGRAM_DROP_PENDING_UPDATES_ON_STARTUP=true

API_HOST=
API_PORT=
API_URL=http://${API_HOST}:${API_PORT}
HEALTHCHECK_ENDPOINT=
