{% extends "main/base_v2.html" %}

{% block fc_panel %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_v2/css/service/jquery-ui.min.css')}}" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ url_for('static', filename='main_v2/js/assets/jquery-ui.min.js')}}" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='main_v2/js/datepicker-ru.js') }}"></script>

<div class="container">
    <div class="top-content d-flex justify-content-between flex-wrap g-5 mb-5">
        {%if current_user.role == 'superuser'%}
            <div class="breadcrumbs">
                <a href="{{url_for('admin_control.su_control_finance')}}">Контроль финансов </a>
                /
                <a href="{{url_for('admin_control.su_control_ut')}}">Контроль транзакций</a>
                /
                 <span>Контроль транзакций пользователя агента</span>
            </div>
        {%elif current_user.role=='admin'%}
            <div class="breadcrumbs">
                <a href="{{url_for('main.enter')}}">Основное </a>
                /
                <span>Контроль транзакций пользователя агента</span>
            </div>
        {% endif %}
    </div>

    <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#form_filters_collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Фильтры транзакций
    </a>

    {% include 'admin/au_transactions/au_transactions_filters.html' %}
    <div class="row">

        <div class="col-md-12">


            <div id="transactions_table">
                {% include 'admin/au_transactions/au_transactions_table.html' %}
            </div>
        </label>
        </div>
    </div>






</div>


{% include 'admin/au_transactions/au_transaction_modal.html' %}
<script src="{{url_for('static',filename='main_v2/js/admin/admin_uc_v7.js')}}"></script>
{% endblock %}