<div class="modal fade" id="au_transactionDetailModal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="au_transactionDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="au_transactionDetailModalLabel">Детализация транзакции.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="clear_au_userstd_modal()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body text-justify">

          <div id="au_transactionDetaildiv">

          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-accent" data-bs-dismiss="modal" onclick="clear_au_userstd_modal()"
                aria-label="Close">
            Ок</button>

      </div>
    </div>
  </div>
</div>