<div class="container">
    <div><b>Номер:</b> {{ transaction.id }}</div>
    <div><b>Дата формирования:</b> {{ transaction.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</div>
    <div><b>Статус:</b> <span class="badge bg-warning text-black">{{ transaction_statuses[transaction.status] }}</span></div>
    <div><b>Тип:</b> {% if transaction.type %}Пополнение {% else %}Списание{%endif%}</div>
    {% if transaction.cancel_comment%}<div><b>Описание:</b> {{ transaction.cancel_comment}}</div>{% endif %}
<!--    <div><b>Тип транзакции:</b> Списание с лицевого счета</div>-->

        {%if order_prices_marks%}
            <div class="my-1"><b>Заказы</b>: <a href="{{url_for('orders_archive.index')}}" target="_blank" style="text-decoration: none">

            {% for o in order_prices_marks %}
                {% if not loop.index==1%}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {%endif%}
                <span class="text-warning">{{o.order_idn}}</span> - {{o.category}}<span style="font-size:10px">{{' ['+subcategories_dict.get(o.subcategory) + ']' if o.subcategory else ''}}</span>, {{o.pos_count}} шт. - {{o.pos_count * transaction.op_cost}} р.{% if not loop.last %},<br>{% endif %}
            {% endfor %}</a>
            </div>


            <b>Цена за марку</b>: {{transaction.op_cost}} р.<br>

            <b>Всего</b>: {{total_marks}} шт.
        {% endif %}


    <div><b>Сумма:</b> {{ transaction.amount }} р.</div>
    <div class="col mt-3" title="Скрин транзакции">{{transaction_image | safe}}</div>

</div>
