    <div class="faded mt-3">

        <div class="row">
            <div class="col-md-5 text-right">
                <label><b>Тип транзакций</b>: {{ tr_type }}</label><br>
                <label><b>Статус транзакций</b>: {{ tr_status }}</label><br>
                <label class="content"><b>От</b> {{ date_from.strftime('%d.%m.%Y') }} <b>до</b> {{ date_to.strftime('%d.%m.%Y') }}</label>
            </div>
            <div class="col-md-7">
                <div class="pagination_section my-1" >


                    <div  style="margin-left: 3%;">{{ pagination.links }}</div>
                </div>
            </div>


        </div>

        <table class="table mt-3 table-result"  id="transactions_table_info" >
            <thead class="text-dark">
                <tr>
                    <th scope="col">
                        Дата
                    </th>
                    <th scope="col">
                        Пользователь
                    </th>
                    <th scope="col">
                        Списания, руб.
                    </th>
                    {% if not is_at2 %}
                        <th scope="col">
                            Ставка агента
                        </th>
                        <th scope="col">
                            Комиссия агента, руб.
                        </th>
                    {% endif %}
                    <th scope="col">
                        Статус
                    </th>
                    <th scope="col">
                        Детализация
                    </th>
                </tr>
            </thead>

            <tbody id="order_table_body_info">

            {% for t in transactions_list %}
                <tr>
<!--                    <td class="tablesaw-cell-content">{{ loop.index }}</td>-->
                    <td class="tablesaw-cell-content">

                        {{t.created_at.strftime('%d.%m.%Y %H:%M')}}
                    </td>
                    <td>
                        {{ t.login_name }}
                    </td>
                    <td>
                        {% if not t.type %}{{t.amount}}{% endif %}
                    </td>
                    {% if not is_at2 %}
                        <td>
                            {{t.agent_fee}} %
                        </td>
                        <td>
                            {{ (t.agent_fee*0.01*t.amount)|round(2, 'floor')}}
                        </td>
                    {% endif %}
                    <td>
                        {{transaction_dict[t.status]}}
                    </td>
                    <td>

                            <button type="button" onclick="bck_au_ut_detalization('{{url_for('admin_control.bck_aus_transaction_detail', u_id=t.user_id, t_id=t.id)}}?bck=1')"
                                class="btn btn-dark btn-sm btn-watch ms-md-auto">
                                Подробнее
                            </button>


                    </td>


                </tr>

                {% endfor %}

            <tr>
            </tr>
            </tbody>
        </table>
        <div class="pagination-page-info text-center">На этой странице <b>{{ offset + 1 }} - {{ offset + transactions_list|length }}</b> Всего: <b>{{ pagination.total }}</b></div>
        <div class="pagination_section my-1" >
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col-md-1"></div>
            <div class="col-5" style="margin-left: 3%;">{{ pagination.links }}</div>

        </div>
        </div>

    </div>
